[2020-02-04 10:55] stap-m commented on #209
Can we distinguish as follows:?
* EnergyStorage is a function for ArtificialObjects that are _made_ for the storage
* EnergyCarrier is a disposition for things of any kind that _can_ carry/store energy but are not _made_ for this on purpose

Def: EnergyStorage is the function of an ArtificialObject that has been engineered to contain energy for conversion as usable energy later or somewhere else.

[2020-02-04 11:10] stap-m commented on #56
I'd rather say something like _works as greenhouse gas_ instead of _is a greenhouse gas_ in each of these defs. The rest sounds good to me. And I agree with the 'anthropogenic' def!

[2020-02-04 11:13] stap-m commented on #173
Yes, the first one.

[2020-02-04 11:16] l-emele commented on #173
So we have a consensus on this long standing topic!

[2020-02-04 11:18] l-emele commented on #56
"works as" is good. Maybe "acts as" is even better?

[2020-02-04 12:50] stap-m commented on #227
I agree with @MGlauer and @akleinau that hydrogen etc should not be subclasses of fuel. And on the other hand, I agree with @l-emele that the double structure is misleading and that the structure of 'fuel' is more relevant than 'portionOfFuel'.

Would it be an option to dissolve the 'PortionOfFuel' and make everything a direct child of PortionOfMatter? With relations _has disposition fuel_ or _has

[2020-02-04 18:06] fabianneuhaus commented on #205
yes and no. :-) It may be the best solution available right now. Let's talk about it tomorrow.

[2020-02-05 07:25] akleinau commented on #227
The PortionOfFuel is just a visualisation of the disposition structure in PortionOfMatter. It can be deleted, yes, but that would just delete this visualisation and not help to change the disposition relations.

[2020-02-05 07:54] akleinau commented on #173
ok subclasses of Generator right now are:
- ElectricityGenerator
   - FossilGenerator
   - GasTurbineGenerator
   - RenewableGenerator
- EnergyGenerator
  - SolarThermalCollector
  - TidalStreamGenerator
  - Turbine
- Geothermalgenerator
- HeatGenerator
- InternalCombustionVerhicle
- PhotovoltaicGenerator

which ones have to be moved?

[2020-02-05 07:58] akleinau opened #236 ""Issues" project should be added to issue templates"
## Description of the issue

The "Issues" project is the main project were all issue should be added. But its quite easy to forget.

## Ideas of solution

Add it to the already existing issue templates
## Workflow checklist

- [x] I am aware of the
      [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md)
      for this repository

[2020-02-05 08:16] akleinau commented on #182
I'll see if I get this implemented and will propose a solution for the fossil-geogenic implementation. Thats new because they are instances which makes creating a hierarchy a bit more complicated

[2020-02-05 09:34] christian-rli commented on #76
It seems to me like it's easily possible to expand and cover more geographies. If size really is an issue for us (I find it difficult to just leave out regions that don't concern us at the moment, but do see the issue if it's no longer possible to open the ontology with protégé) we can include only what is needed for now and then expand as needed. So it seems like EU (+ Miscellaneous) for now(?).

[2020-02-05 17:57] gnn opened #238 "The ontology isn't usable without the `catalog-vXYZ.xml` files"
The ontology imports other ontologies via IRIs, but some of those IRIs are remapped to local files via `catalog-vXYZ.xml` files. Since the IRIs itself do not dereference, i.e. don't point to the actual ontologies, the ontology wouldn't be usable if published as as standalone file.

Possible fix: make the IRIs point to the actual imported ontologies.

[2020-02-06 08:29] akleinau commented on #238
We definitely have to do that, the question is when.
- now with link to github dev branch?
- after release with link to github master branch?
- after release with the http://openenergy-platform.org/ontology/oeo/ links?

[2020-02-06 08:31] akleinau commented on #205
Ok I'll implement:
quantity value: "A quantity value is an immaterial entity defined by a number together with a unit of measurement to quantify an entity."
as discussed yesterday in Magdeburg.
When there's time we have to discuss how to implement numbers, but for now this should be enough.

[2020-02-06 09:10] jannahastings opened #240 "Change origins to classes rather than individuals"
## Description of the issue

At the moment we are representing origins as individuals. For example, we have geogenic, fossil, synthetic, renewable and biogenic. However, there may be additional required complexities and relationships between origins that we cannot adequately represent with this structure, such as that fossil origins are a subtype of geogenic origins.

## Ideas of solution

Instead

[2020-02-06 09:13] jannahastings commented on #238
I think that it would be great to make the http://openergy-platform.org/ontology/oeo/ links live even in advance of "official release". We do associate appropriate versioning metadata to the ontology to advise that this is not officially released yet in any case, so there is no danger of mismanaged expectations. The advantage is that the URIs will be stable and the technical infrastructure can be

[2020-02-06 09:13] akleinau commented on #240
I agree. We have to merge #234 and #237 before because they add new origins.

[2020-02-06 09:45] akleinau opened #241 "SectorConcept should be renamed to SectorDivision"
## Description of the issue

In the abstract we made recently sector concepts were called sector divisions.
We should change our ontology accordingly to avoid confusion.

## Ideas of solution

Rename SectorConcept to SectorDivision

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [ ] I already read the **latest** version of the [workflow]

[2020-02-06 09:52] akleinau opened #242 "definition annotation is not unified right now"
## Description of the issue

This is a small but weird issue. When giving an entity a definition we choose "definition" as annotation type but right now we have:
- "definition (IAO:0000115)" that I find in oeo-physical but can't find in oeo
- "definition" as subclass of rdfs:comment
- "textual definition" that I find in oeo but not in oeo-physical

## Ideas of solution

find out why thats the case

[2020-02-06 12:17] jannahastings commented on #241
I agree with this -- I think it will be much easier for people to understand what is meant by this class.

[2020-02-07 09:27] akleinau commented on #175
@jannahastings can you create these spreadsheets as you have more experience with ROBOT? I‘m not sure how to exclude imported ontologies so the spreadsheet for oeo doesn‘t include the missing defs of the modules etc

[2020-02-07 09:33] jannahastings commented on #175
Sure! I'll do it now.

[2020-02-07 10:44] l-emele commented on #227
I really like @stap-m's idea. The visualisation could be done with equivalent classes.

[2020-02-07 10:45] l-emele commented on #227
I really like @stap-m's idea. The visualisation could be done with equivalent classes.

I could start a branch and try implementing this. Do you agree?

[2020-02-07 11:08] akleinau commented on #227
but we already have exactly that with PortionOfFuel!
A visualisation through equivalent classes.

[2020-02-07 11:13] akleinau commented on #227
PortionOfFuel was intended to be an exact visualisation of the old fuel structure

[2020-02-07 11:18] l-emele commented on #227
It was intended, but it is not. That is what the whole issue is about. The picture above clearly shows that this is not the case.

[2020-02-07 11:46] l-emele commented on #240
I agree, too.

[2020-02-07 11:49] akleinau commented on #227
![image](https://user-images.githubusercontent.com/56925445/74027129-dcbd9700-49a7-11ea-82d3-14b36739396c.png)
that's the old fuel structure I followed when implementing the PortionOfFuel class. I'll just stay out of this issue and see what you'll implement

[2020-02-07 11:51] l-emele commented on #227
The problem is, that in the Fuel class there are now only these subclasses:
![grafik](https://user-images.githubusercontent.com/36884905/74027409-59e90c00-49a8-11ea-945c-d8397c7602d7.png)
It is not logic that only a seemingly arbitrary amount of fuels subclasses are there while the vast majority of the fuels are not there.

[2020-02-07 12:12] jannahastings commented on #227
To me it appears the only two that seems missing when comparing Anna's picture with the latest one is  "NaturalGas" (which we could analogously add as "NaturalGasFuel") and "OilAndPetroleumProducts" (which we could analogously add as "OilAndPetroleumProductsFuel")

Are there more fuel classes you would like to see in this fuel hierarchy?

[2020-02-07 12:21] l-emele commented on #227
Hydrogen is also missing. And many subclasses are missing. That is the level of detail we have in PortionOfFuel (in inferred view):
![grafik](https://user-images.githubusercontent.com/36884905/74029281-9fa7d380-49ac-11ea-8aed-08110a9acad0.png)
That is much more than we have currently in CombustionFuels (see my last comment above).

@jannahastings Do you understand my problem?

[2020-02-07 12:32] jannahastings commented on #227
Ah, so the problem is not so much that fuel classes are missing in general, in fact they are there, but the problem is that they are not appearing appropriately classified beneath "CombustionFuel"?

[2020-02-07 12:53] l-emele commented on #227
Yes, exactly. And I think there are some elements missing to connect the subclasses of PortionOfFuels in an appropriate way that they appear in CombustionFuels.

I am not exactly sure what linking elements are missing. I assume that some equivalences are missing but I might be on the completely wrong way.

All what I want that we have in the end somehow a structure that looks like this (only showi

[2020-02-07 12:56] MGlauer commented on #227
I think the issue is more deeply rooted. What would be an instance of `HydrogenFuel`? It would have to be some kind of disposition that it can be used as a fuel. But how does this disposition differ from the disposition of any other gas that can be used as a fuel?
I guess the intuition was to refine the definition of fuel as `disposition of matter to be used as a fuel` to `disposition of matter <X

[2020-02-07 13:45] jannahastings commented on #227
Okay, I understand better and I think this can be done, it will be a matter of adding equivalences and explicit relationships until the appropriate structure will be inferrable. I will look at this more closely and come up with a proposal.

[2020-02-07 13:55] jannahastings commented on #175
Okay I created a file here:
https://docs.google.com/spreadsheets/d/1Sne3JqzHbIu-hIlmzMpnc2odwGEK2saYxX8m4NcAuH0/edit

I think anyone with the link should be able to edit. @akleinau could you check?

[2020-02-07 14:16] akleinau commented on #227
If we have the wanted structure under PortionOfFuel, can we just rename that to Fuel and give the fuel dispositions the suffix -disposition?

[2020-02-07 14:17] akleinau commented on #175
yes works fine than we can start defining :)

[2020-02-10 14:57] stap-m opened #243 "update definitions for emission value / emission factor value"
## Description of the issue

Update definitions for emission value / emission factor value.

## Ideas of solution

## Workflow checklist

- [x] I discussed the issue with someone else than me before working on a solution
- [x] I already read the **latest** version of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) for this repository
- [x] The [goal](https:/

[2020-02-10 15:23] stap-m commented on #240
I do, too

[2020-02-10 15:43] l-emele commented on #170
From #239: `CarbonDioxideEmissionTrafficSector` belongs also in this issue.

[2020-02-10 16:19] l-emele opened #244 "Redefine `NewPowerFromPhotovoltaics`"
## Description of the issue

While reviewing #239 I stumbled over the class `NewPowerFromPhotovoltaics`. It is defined as:
_A new power from photovoltaics quantity is a quantity that describes the amount of power from photovoltaic power plants that are going to be build in the future._

To me this is a rather strange concept, as:
1. In energy modelling we talk a lot about the future and especially

[2020-02-11 06:29] stap-m commented on #244
For scenario description it might be useful to have sth like 'expansion planning'. But I agree that this should be independent on the technology, or rather be applicable to any kind of power plant.
`NewPowerFromPhotovoltaics` doesn't satisfy this. Let's replace it with a more general concept.

[2020-02-11 09:31] #182 closed

[2020-02-11 09:39] akleinau commented on #175
@stap-m, @l-emele we have a file now with the >100 classes missing definitions, everyone has write access and help from everyone is appreciated :) Also it means that there will be some issues coming up resulting from wrong parent relationships.

[2020-02-12 11:17] Ludee commented on #12
I got a hint to have a look at [pint](https://pypi.org/project/Pint/).

Pint is a Python package to define, operate and manipulate physical quantities: the product of a numerical value and a unit of measurement. It allows arithmetic operations between them and conversions from and to different units.
It is distributed with a comprehensive list of physical units, prefixes and constants. Due to its

[2020-02-12 16:47] jannahastings commented on #227
Here is my proposal:

- we rename 'CombustionFuel' (disposition) to 'CombustibleEnergyCarrier' which is defined textually as it is now.
- we rename 'NuclearFuel'  to 'NuclearEnergyCarrier'

- we add a role 'FuelRole' which is defined as "FuelRole is a role of a portion of matter that has the disposition to be an energy carrier and is used in a process that releases the carried energy to create hea

[2020-02-12 16:52] jannahastings commented on #244
I agree, the prefix 'new' doesn't capture the intended meaning well. It would be better if it would be called 'Future...' and even then, since future is a moving target continually becoming the present, and the ontology is intended to be used long-term, I am not sure this is a useful class. I think it might be more helpful to deal with this requirement through annotation of a general class  such a

[2020-02-17 08:07] akleinau opened #245 "CorporateIdentity is falsely classified as information content entity"
## Description of the issue

Right now CorporateIdentity is an information content entity. Which fits for its subclasses Logo and Website but not for itself.

## Ideas of solution

If we dont actually need a CorporateIdentity as itself I propose to rename it to CorporateIdentityPart.

Def: A CorporateIdentityPart is an information content entity that is part of a corporate identity.

## Workflow c

[2020-02-17 08:11] akleinau opened #246 "Funding subclasses need "funding" suffix and funding a reclassification"
## Description of the issue

Right now the funding subclasses are private and public, which are concepts used more widely than just in funding.
Also Funding is a subclass of SoftwareMaintenance, it needs a new place.

SoftwareMaintenance should then be discussed too as it then has no subclasses and no definition ans is no information content entity.

## Ideas of solution

Rename subclasses to: Pri

[2020-02-17 08:16] akleinau opened #247 "Project and Study are falsely classified as Reference"
## Description of the issue

Project and Study are subclasses of Reference right now. A reference can reference to a study or a project, but they themself are more.

## Ideas of solution

reclassify as textual entity? Or document? Or just information content entity?

they also need defs.

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [

[2020-02-17 08:21] akleinau opened #248 "ElectricityProductionUnit and subclasses need reclassification or deletion"
## Description of the issue

ElectricityProductionUnit and its subclasses CommonParameters, PlantOperation, PowerPlantData and StorageUnit are subclasses of ElectricityGridComponent right now.

I dont think they are needed because we already have a technology- artificial object structure. Can we delete them? They are probably just remains of mastr.

## Ideas of solution

delete them

## Workflow c

[2020-02-17 08:27] akleinau opened #249 "What are use and intention of the type subclasses?"
## Description of the issue

The class Type is a subclass of DataDescriptor.
It has the subclasses Ecological, Economical, Social and Technical.
Those words are more than information content entities and I'm unsure about definitions and use.

## Ideas of solution

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [ ] I already read the **la

[2020-02-17 08:33] akleinau opened #250 "Factsheet is not an EmpiricalDataset"
## Description of the issue

Factsheet is a subclass of EmpiricalDataset right now and needs a new place and definition.

## Ideas of solution

## Workflow checklist

- [x] I discussed the issue with someone else than me before working on a solution
- [x] I already read the **latest** version of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTE.md) for this reposito

[2020-02-17 08:35] akleinau opened #251 "A Documentation is not just SoftwareMaintenance"
## Description of the issue

A Documentation is maybe a part of, but not a subclass of SoftwareMaintenance.
And needs a def.

## Ideas of solution

make it subclass of document
Def: A Documentation is a document containing explanations and tutorials how to use a program and is delivered with that program.

## Workflow checklist

- [x] I discussed the issue with someone else than me before working

[2020-02-17 08:36] akleinau opened #252 "DataProcessing is not a SoftwareElement"
## Description of the issue

DataProcessing is a subclass of SoftwareElement right now.
It's more likely a process.
And needs a def.

Is DataProcessing a Transformation?
Transformatioon is defined as a process that transforms one or more inputs into at least one output, so I'd say yes.

A def would be: DataProcessing is a Transformation of data.

## Ideas of solution

## Workflow checklist

- [x]

[2020-02-17 08:38] akleinau opened #253 "A Database is not a DataFormat"
## Description of the issue

Database is subclass of DataFormat right now. It needs a reclassification because a Database is a collection of data that can be stored in different formats.
And it needs a def.

## Ideas of solution

Make it subclass of data set
Def:  A Database is a data set that is structured and is stored electronically.

## Workflow checklist

- [x] I discussed the issue with some

[2020-02-17 08:40] akleinau opened #254 "CollaborativeProgramming is not OpenSource"
## Description of the issue

CollaborativeProgramming is a subclass of OpenSource right now.
It's more likely a process or activity or sth like that.
And needs a def.

## Ideas of solution

## Workflow checklist

- [x] I discussed the issue with someone else than me before working on a solution
- [x] I already read the **latest** version of the [workflow](https://github.com/OpenEnergyPlatform/onto

[2020-02-17 08:51] akleinau commented on #175
I added definitions or issues for everything but nine classes now

[2020-02-17 09:53] kkcaag opened #255 "Restructuring "portion of matter" into general fuels which can be solid, liquid and gaseous"
## Description of the issue

General and specific concepts of chemical energy carriers from (hydrocarbons) are on the same level, e.g. portion of fuel (general concept), portion of biogas (very specific).

Furthermore, there is "PortionOfBioFuel" as subcategory of "PortionOfFuel" while "PortionOfBioDiesel" and "PortionOfBioGasoline" etc. are on the same level as "PortionOfFuel".

We're missing a d

[2020-02-17 10:07] kkcaag opened #256 "Meta-Issue: Adding "Market" and associated concepts"
## Description of the issue

Term "Markets" and many associated concepts are missing in the ontology.

## Ideas of solution

Adding the following terms under "generically dependent continuant"
- Market (property: "has part": "Trader")
-- EnergyExchange (property: "has part": "Bid", "Award")
-- CarbonMarket (property: "has part": "Bid", "Award")
-- FuelMarket (property: "has part": "Bid", "Award")

[2020-02-18 07:55] akleinau commented on #233
another spelling error: TranshipmentModel has to be renamed to TransshipmentModel

[2020-02-18 08:22] stap-m commented on #173
We need a def for Generator if we want to continue with its subclasses, e.g. in PR #235.

* What do we want to express with the term 'Generator'? We agreed on this:

* If in our def every device that produces electricity is called 'Generator, it is confusing to talk about an _'electricGenerator'_ if it uses mechanical energy (although is is called like this, e.g. on wikipedia), since EVERY generat

[2020-02-18 08:40] litotes18 commented on #233
Sorry for the long delay - my expertise is the economic side of energy systems.
Just for your information: My contributions (and Heddas and Kiens) are from the LOD-Geoss project.

[2020-02-18 10:59] stap-m commented on #227
This is related to #227 where EnergyCarrier has to be defined.

This restructuring is quite complex. Do we have time to discuss it next week in MD?

[2020-02-18 13:22] jannahastings commented on #227
Yes I think that's a good idea.

[2020-02-18 13:25] l-emele commented on #227
+1

We should also discuss in MD #234. For me the root of all these discussions is the _portion of matter_.

[2020-02-19 13:00] stap-m commented on #255
Hi, thanks for your input and welcome to the OEO :)

We also had similar discussions before and it is still a complex topic... I just saw that the definition of 'portionOfMatter' is not yet Aristotelian style and therefore needs to be re-discussed. Surely, this could help to clarify what this class 'portionOfMatter' is about.

Regarding your ideas of solution: We decided against a subclassificatio

[2020-02-19 13:05] stap-m commented on #236
Thanks for the hint! I am adding that to the 'workflow checklist' in the issue templates.

[2020-02-19 13:26] #241 closed

[2020-02-19 13:47] #236 closed

[2020-02-19 16:11] stap-m commented on #256
Good point. Do you have a suggestion for a definition and classification for 'Market'?

[2020-02-19 16:15] MGlauer commented on #256
Maybe we should import an [existing ontology for finances](https://spec.edmcouncil.org/fibo/OWL) for that.

[2020-02-21 07:58] stap-m commented on #256
There is also this [electricity markets ontology EMO](http://www.mascem.gecad.isep.ipp.pt/ontologies/). @MGlauer can you take a look?

[2020-02-21 08:57] MGlauer commented on #256
@stap-m EMO seems to be tailored explicitly for the electricity market with little regard for more general concepts:
[code]
and other issues:
[code]
FIBO on the other hand is too complex for our purposes (Protege struggles to load it on my machine). It is split into several smaller ontologies that we may import separately, though.

[2020-02-24 08:08] akleinau commented on #78
So I propose:
- Hydropowerplant
    - OceanPowerplant
    - ReservoirPowerplant
          - StorageHydropowerplant
                - PumpstoragePowerplant
                - PumpstoragePowerplantWithNaturalInflux

with definitions:
**HydroPowerplant:** A HydroPowerplant is an ArtificialObject that is a powerplant using hydropower as its source of energy.
**OceanPowerplant:** An OceanPowerplant is a

[2020-02-24 08:32] akleinau commented on #175
@jannahastings can you make a second sheet for object properties? Most of our own also dont have definitions.

[2020-02-24 15:02] christian-rli commented on #19
Good question @l-emele . The oeo is self-explanatory (in a way), with small textual definitions and a clear hierarchy. I suggest this issue can be closed with the first release of the ontology. Feel free to disagree @Ludee @MGlauer @klarareder @han-f

[2020-02-24 20:58] jannahastings commented on #175
Done! I added a separate sheet. Can you make it pretty though like the other one?

[2020-02-25 08:39] akleinau commented on #175
pretty now :)

[2020-02-26 09:47] Ludee opened #259 "Add the annotation 'term tracker item' to Contributing.md"
## Description of the issue

The classes in the oeo do not link to the discussions on GitHub. Only the result is stored.

## Ideas of solution

Add a class annotation 'term tracker item' to all classes and add this information to the contribution.md

## Workflow checklist

- [x] I am aware of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) for this repositor

[2020-02-27 11:06] l-emele opened #260 "Write a wiki page how to set settings for numerical identifiers"
## Description of the issue

With the change to numerical identifiers we need a documentation how to change Protégé user settings.

## Ideas of solution

* Write a wiki how-to page
* Link in CONTRIBUTE.md

## Workflow checklist

- [ ] I am aware of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) for this repository
- [ ] I added this issue to the Project 'Is

[2020-02-28 12:12] stap-m opened #261 "update wiki description on mass nouns"
## Description of the issue

In the wiki there is a short description on the problematique of mass nouns in an ontology. This should be updated: an explanation of how we deal with mass nouns in the OEO

 ## Ideas of solution

* describe class/concept of 'PortionOfMatter'
* maybe link wiki-page in annotations of PortionOfMatter (owl file)

## Workflow checklist

- [x] I am aware of the [workflow](h

[2020-03-02 09:26] akleinau opened #262 "Framework has to be reclassified and renamed"
## Description of the issue

As discussed in the february hackathon Framework is not just a SoftwareElement.

## Ideas of solution

- rename to SoftwareFramework
- reclassify as Software
- def: A SoftwareFramework is a Software that is generic and can be fitted to a specific application.

## Workflow checklist

- [x] I discussed the issue with someone else than me before working on a solution
- [x

[2020-03-02 09:37] akleinau commented on #253
february ontoHack results:
- reclassify as: information content entity
- has_part data item
- def: a database is an information content entity that stores data items and data sets

[2020-03-02 09:39] akleinau commented on #252
as discussed in february ontohack:
- reclassify as transformation
- has_participant data item
- def: data processing is a transformation which has the relation: 'has participant' 'data item'

[2020-03-02 09:42] akleinau commented on #250
as discussed in the february ontohack:
- reclassify as document
- def: A factsheet is a document that collects information (information content entity) about a specific topic in a structured way.

note: Factsheet def is made general and not specific to OEP, an OEP factsheet can be added if needed

[2020-03-02 09:46] akleinau commented on #173
@jannahastings, @MGlauer can you please add your pictures of the Whiteboard here?

[2020-03-02 09:48] akleinau commented on #136
as discussed in february ontohack:
- new Technology def: A Technology is an information content entity that specifies how to create an artificial object.
- delete or move technology subclasses, depending on #173

[2020-03-02 09:55] akleinau opened #263 "AirPollution subclasses (former instances) are missing"
## Description of the issue

As discussed in february ontohack, AirPollution had instances that should get subclasses but are missing.

## Ideas of solution

Add subclasses (list possibly not complete, @l-emele can you fill it?):

-  ammonia (NH3)

- nitrogen oxides (NOx)
   - nitric oxide (NO)
   - nitrogen dioxide (NO2)
- volatile organic compounds (VOC)
   - methane
   - non-methane volatile or

[2020-03-02 10:03] akleinau commented on #133
We decided in the february ontohack to switch to numeric identifiers after some of the heavier ontology changes were made.
- Structure of the identifieres: OEO_[yyyy][xxxx]
--> yyyy identifies user, 0000 for already existing classes
--> xxxx unique for each class of the user
- Labels will be used for human readable names and will be changed to lower case and white space instead of CamelCase.
- aft

[2020-03-02 11:03] akleinau commented on #227
we discussed it, decided for @jannahastings version with some minor changes and to delete the PortionOf prefixes. It could help to wait with a pull request until greenhousegases #234 is merged because it also messes with PortionOfMatter.

[2020-03-02 11:12] jannahastings commented on #173
![IMG_7359](https://user-images.githubusercontent.com/512096/75671423-fc7e6d00-5c7e-11ea-81f4-f2b97d1aba91.JPG)
![IMG_7358](https://user-images.githubusercontent.com/512096/75671431-00aa8a80-5c7f-11ea-8473-1e692bddc8dc.JPG)
![IMG_7357](https://user-images.githubusercontent.com/512096/75671433-01dbb780-5c7f-11ea-8678-3f2b8a0c8a16.JPG)
![IMG_7356](https://user-images.githubusercontent.com/512096/756

[2020-03-03 09:40] akleinau commented on #259
the "term tracker item" annotation does not exist in oeo-physical and oeo-social. It exists in oeo and oeo-model though. This has to be fixed first.

[2020-03-03 09:42] akleinau commented on #259
@jannahastings we don't import our iao-module into oeo-physical and oeo-social. So should we rather make a new module just for annotations or create an own equivalent annotation?

[2020-03-03 10:31] akleinau commented on #205
we have the problem of the quantity subclasses. I'm currently tending to delete the pull request and first discuss a lot more (reason I'm writing here instead of there). So I thought about them:
- **ConsumptionQuantity** use case of a quantity. Delete or classify as data item? see InstalledPowerQuantity.
- **ElectricityExport** use case of a quantity. Delete or classify as data item? see Installed

[2020-03-03 10:44] jannahastings commented on #259
I think we may want to make an iao annotation properties module which is separate from the content module, and import that everywhere just as we import BFO everywhere.

[2020-03-03 10:47] akleinau commented on #229
also delete: GeographicCoordinate, duplicate of cartesian spatial coordinate item
(see definition sheet)

[2020-03-03 11:32] akleinau opened #264 "EnergyTransfer should be moved or deleted"
## Description of the issue

This originates from the definition sheet and the february hack.
EnergyTransfer is an ArtificialObject right now and has no definition.

## Ideas of solution

- I think the original intend was to collect EnergyTransfer-Objects here
- we can just delete it
- reclassify as process, rename as energyTransmission; energyTransmission is a process that transfers energy from o

[2020-03-04 09:31] akleinau commented on #259
I agree, this would also help with #242. I'll open a pull request soon.

[2020-03-04 10:09] akleinau opened #266 "some classes can be deleted"
## Description of the issue

This is a list of classes that can be deleted if no one protests. A good way to give everyone the change to protest should be found.

List:
- Support
  - Workshop
  - Community
  - Forum
  - ModelExamples
- LinearOptimalPowerflow
- AutoModelGenerator
- InternalCombustion
- EnergyTransfer (#264)
- ElectricityProductionUnit (#248)
  - CommonParameters (#248)
  - PlantOpe

[2020-03-04 10:21] akleinau opened #267 "timestep, timehorizon, timeseries need new place and def"
## Description of the issue

TimeStep, TimeHorizon and TimeSeries are currently variables and without a definition.
## Ideas of solution

**TimeStep**: A TimeStep is a temporal region (?) stating the time between two calculations or measurements made.
- or: turn into properties has_temporal_resolution, has_number_of_time_steps

**TimeHorizon**: A TimeHorizon is a temporal region (?) stating a spec

[2020-03-04 10:36] akleinau opened #268 "Cost and subclasses need to be defined"
## Description of the issue

Cost is a subclass of Variable and has the subclasses FixedOperationCost, FuelPrice, InverstmentCost and VariableOperationCost.

Is it really just a variable? They all need definitions.

## Ideas of solution

First ideas for definitions were:
- **Cost**: A Cost is a Variable stating the required payment for something.
- **FuelPrice**: A FuelPrice is a Cost that is the

[2020-03-04 10:44] akleinau commented on #175
the following classes need further discussion:
- MethodicalFocus
- MathematicalConcept
- AnalyticalApproach
- TranshipmentModel
- ModelingSoftware
- ContentDescriptor
- Minimization
- SoftwareMaintenance
- Uncertainty
- Validation

Most of the rest are issues now.
We have 40 definitions with at least one thumbs up though, so shall we make a new issue for the ones above and merge the 40 new defs?

[2020-03-04 11:03] akleinau commented on #260
I'll create the page shortly before we change to avoid confusion. The content will be:

File -> Preferences -> new entities

Select:
Entity IRI:
- Active ontology IRI
- /
- Auto-generated ID

Entity Label:
- Same as label renderer

Auto-generated ID:
- Numeric (iterative)
- prefix: OEO_[your user id] e.g. OEO_0001 if you user ID is 1
- Digit count: 4

[2020-03-04 15:14] akleinau opened #270 "the 'has quality' object property from ro is missing."
## Description of the issue

Our ro-module does not include the needed 'has quality' property which should replace our own has_quality property.

## Ideas of solution

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [ ] I already read the **latest** version of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBU

[2020-03-04 15:52] akleinau commented on #66
There is a spreadsheet to fill out the missing definitions in #175.
I started defining some of the relations but I'm having some problems:
- there are so many has-relations, "has_license", "has_logo", "has_software", are they necessary or can we replace (some of) them with the standard "has_part" or "has_participant"?
- there are relations like "is_available_on_github" which have true or false as

[2020-03-05 06:44] akleinau commented on #252
I tried to implement this and found a problem:
- we have classes DataPostprocessing and Postprocessing
- we have classes DataPreprocessing and Preprocessing

for me they seem identical so I'd propose to delete Postprocessing and Preprocessing.

[2020-03-05 06:45] akleinau commented on #242
got fixed by importing iao-annotation-module.

[2020-03-05 06:45] #242 closed

[2020-03-05 06:47] #154 closed

[2020-03-05 06:47] #152 closed

[2020-03-05 06:47] #151 closed

[2020-03-05 06:48] #177 closed

[2020-03-05 08:08] MGlauer commented on #173
![image](https://user-images.githubusercontent.com/7835111/75960712-d47e4c00-5ec0-11ea-9279-3f77e61f2cc5.png)

[2020-03-05 09:49] akleinau commented on #173
![image](https://user-images.githubusercontent.com/56925445/75969126-c46d6900-5ece-11ea-93b7-57822c2a7483.png)

ok this will be the subclass-structure. This is complex enough that I think the best way is to make a pull request and work directly on the ontology. So I'll try to implement everything and see which problems occur.

First problem: I cant find a def for PowerGeneratingUnit?

[2020-03-05 10:30] akleinau commented on #173
- I'm having problems formulating the definition of EnergyTransformer/ EnergyConverter correct, can someone help me make sense of what's written on the whiteboard?
- if we rename EnergyTransformer to EnergyConverter we need to rename WindEnergyConverter and GasEnergyConverter, the subclasses of PowerGeneratingUnit

[2020-03-05 10:34] akleinau commented on #173
![image](https://user-images.githubusercontent.com/56925445/75973312-3ba5fb80-5ed5-11ea-8270-c71e675facb9.png)

is this the correct powerplant structure?

[2020-03-05 11:19] l-emele commented on #173
If I remember correctly our discussion from last week, we decided to delete the class `ReactivePowerplant`.

Why do we have HydroPowerplants and HydroelectricPowerplants? This is confusing.

Some hydros are also renewable but not all, e.g. a PumpedStoragePlant without natural intake is not renewable.
And I spotted a difficulty: some HydroPowerplants are RenewablePowerplants (e.g. Run

[2020-03-05 11:26] MGlauer commented on #173
IIRC: We renamed EnergyConverter to PowerGeneratingUnit. This was also the reason why we did not rename EnergyTransformer to EnergyConverter yet. Otherwise it would clash with the former definition. Therefore we would rename `GasEnergyConverter` to `GasPowerGeneratingUnit`? (sound a bit weird to me)

[2020-03-05 12:20] stap-m commented on #268
related to #256 about including another ontology for energy markets

[2020-03-05 12:26] l-emele commented on #173
We might include _fired_ in the class name. `GasFiredPowerGeneratingUnit` does not sound weird to mee.

[2020-03-05 12:31] stap-m commented on #173
We decided on leaving all hydro-related classes out for the moment. This is another huge area discussion.

[2020-03-05 12:59] stap-m commented on #173
Oh no, I think we neither wrote down a def for PowerGeneratingUnit nor EnergyConverter/Transformer. But at least we discussed it well so it should be possible to recap. Here goes a first attempt:

* An energy converter is an artificial object that transforms or changes a certain type of energy.

* A power generating unit is an artificial object that contains _(has_part some)_ one or more energy co

[2020-03-05 13:06] l-emele commented on #173
Do we have an issue where we collect all water-related problems?

[2020-03-05 13:11] stap-m commented on #173
I don't think each subclass of PowerGeneratingUnit needs the suffix _PowerGeneratingUnit_. We already have PVPanel that doesn't fit the scheme. What about `GasFiredPowerUnit` and `WindDrivenPowerUnit` ?

[2020-03-05 13:11] l-emele commented on #173
In the pictures above there is the definition for energy converter: _An energy converter is an artificial object that has part some generator (and other stuff)._

[2020-03-05 13:14] l-emele commented on #173
I am probably fine with `GasFiredPowerUnit`.  We have decided last week on `WindEnergyConverter` instead of `WindDrivenPowerUnit` .

[2020-03-05 13:16] stap-m commented on #173
This def interfers with the def of generator: _A generator is an energy transformer/converter that converts other forms of energy into eletrical energy._
I.e. an energyConverter can transorm any type of energy into any type of energy.

[2020-03-05 13:34] stap-m commented on #173
Now I also found this def on the foto. I think this def was made before we renamed energyConverter to PowerGeneratingUnit. So at least we have a def for that one 😃

[2020-03-05 15:59] akleinau commented on #173
What do we do with the hydro classes until we address them? delete them? put them away somewhere? just ignore them?

I don't like the "and other stuff" ending of the power generating unit def. What about:
A power generating unit is an artificial object that contains a generator amongst other parts."?

[2020-03-05 16:03] akleinau commented on #43
related to #78

[2020-03-05 16:04] akleinau commented on #173
we have just two water issues so we can just concentrate discussion in one of them, e.g. #43

[2020-03-05 16:06] akleinau commented on #173
the name "WindEnergyConverter" will be confusing as soon as we rename EnergyTransformer to EnergyConverter

[2020-03-05 16:37] l-emele commented on #173
This is not confusing but intended: The WindEnergyConverter is that EnergyConverter that uses WindEnergy.

[2020-03-06 06:21] stap-m commented on #173
Actually the def has to be:, A Wind energy converter is the _Power Generating Unit_ that uses wind energy.

I made an overview with defs:
![grafik](https://user-images.githubusercontent.com/38690039/76057697-89287400-5f7a-11ea-9402-b49b1b21e46c.png)

[2020-03-06 06:52] stap-m commented on #248
I agree.

[2020-03-06 11:07] l-emele commented on #173
One important point in the definition of energy converter is missing: That an energy converter is a _device_. This word is important to distinguish the levels.
* Device-level: Turbine, Generator, ...
* Unit-level: PV panel, wind energy converter, fossil fired power unit, ...
* Plant-level: Power plant

In the [protocol](https://etherpad.wikimedia.org/p/ontohack20200226) we mention the word device

[2020-03-06 11:13] #56 closed

[2020-03-06 11:14] #250 closed

[2020-03-06 11:14] #253 closed

[2020-03-06 11:19] akleinau commented on #240
@jannahastings I guess this should still wait for your fuel solution?

[2020-03-06 11:23] jannahastings commented on #240
Yes - I will implement what we discussed last week for #227 and create a PR, then we can do this one

[2020-03-06 11:29] akleinau commented on #173
@l-emele what should do with the subclasses of ReactivePowerplant: HydrogenPowerplant and NuclarPowerplant. Delete?

[2020-03-06 11:31] l-emele commented on #173
I propose delete ReactivePowerplant but make HydrogenPowerplant and NuclearPowerPlant direct subclasses of PowerPlant.

[2020-03-06 11:34] akleinau commented on #173
![image](https://user-images.githubusercontent.com/56925445/76080177-a4a97400-5fa6-11ea-8159-8b07c31eb5d0.png)
ok then I have this Powerplant hierarchy (with HydroPowerplant being ignored and looked at later)

[2020-03-06 11:36] l-emele commented on #173
To almost all fuels there is an equivalent PowerPlant and PowerGenerationUnit, e.g.
* HydrogenPowerPlant that has one or more HydrogenPowerGenerationUnits and that uses hydrogen as fuel
* LignitePowerPlant that has one or more LignitePowerGenerationUnits and that uses lignite as fuel
* HardCoalPowerPlant that has one or more HardCoalPowerGenerationUnits and that uses hard coal as fuel

How do we d

[2020-03-06 11:42] l-emele commented on #173
The class FieldPhotovoltaicGenerator should be renamed as we defined generator differently. Next to FieldPhotovoltaikPowerPlant I would suggest _solar park_ and _solar farm_ at least as synonyms.

I would be also okay to name it directly _solar park_, that is a term that is used quite often.
https://en.wikipedia.org/wiki/Photovoltaic_power_station

[2020-03-06 11:55] akleinau commented on #173
![image](https://user-images.githubusercontent.com/56925445/76081624-ceb06580-5fa9-11ea-8960-dbc5754996b0.png)

[2020-03-09 10:03] #270 closed

[2020-03-09 11:15] akleinau commented on #173
We do have a lot of redundancy with the Powerplants and PowerGeneratingUnits and Generators. I personally don't see a more efficient way than just implementing those redundancies, especially because if I understand it correctly there's information added each level. E.g. a WindElectricityGenerator is used in several kind of WindFarms: eg. OffShoreWindFarm and OnShoreWindFarm

[2020-03-09 11:21] akleinau commented on #173
under Generator we have a class BioElectricityGenerator with subclasses Biogas- and BiomassElectricityGenerator.
Am I right that we have accordingly also that structure in PowerGeneratingUnit and Powerplant?

[2020-03-09 11:45] akleinau commented on #173
![image](https://user-images.githubusercontent.com/56925445/76210104-b5a2f100-6203-11ea-92ee-ba819e92c32d.png)

my current structure

[2020-03-09 13:13] l-emele commented on #173
A couple of things I spotted from those screenshots:
* `FossilGenerator` and `RegenerativeGenerator` (and their subclasses) are no meaningful subclasses of as in both `FossilPowerplants` and `RenewablePowerplants`. Possible subclasses of `ElectroMotiveGenerator`.
* Potential subclasses of `ElectroMotiveGenerator` are synchronous & asynchronous generators and AC & DC generators. But for the moment

[2020-03-09 13:34] l-emele commented on #173
These classes are not generators any more according to our more precise definition. They need to be renamed and to be redefined. The lables could be something like `BiofuelPowerplant` with subclasses `BiogasPowerPlant` and `SolidBiomassPowerPlant`.

[2020-03-11 16:37] HeddaElisabethGardian opened #275 "The term Battery storage exists in two places in the OEO"
## Description of the issue
The term "battery storage" exists under the following path:

continuant | independent continuant | material entity | object | Artificial Object | EnergyStorage | Battery Storage

which makes sense to me.

The specific term "Li-IonBattery" was however sorted under

continuant | independent continuant | material entity | object | Artificial Object | EnergyStorage | Therma

[2020-03-12 09:39] akleinau commented on #275
yes this should be restructured. It's related to #209 which works on restructuring the whole EnergyStorage hierarchy.

[2020-03-12 09:49] akleinau commented on #173
So are there any more generators than Electromotive and PVCell?

[2020-03-12 09:52] l-emele commented on #173
FuelCell is a generator. I don't know whether we have already FuelCell in our ontology. If not, we should include it.

[2020-03-12 09:52] akleinau commented on #173
And is there a difference between SolidBiomassPowerPlants and BiomassPowerPlants?

And are the turbine subclasses complete? We have Gas-, Hydrogen-, Steam-, Water- and WindTurbine

[2020-03-12 09:55] l-emele commented on #173
SolidBiomassPowerPlant is a subclass of SolidBiomassPowerPlant.

For the moment the turbine subclasses are complete. The HydrogenTurbine should be a subclass of the GasTurbine.

[2020-03-12 09:57] akleinau commented on #173
What should happen with HeatGenerator and HeatPumpHeatGenerator?

[2020-03-12 10:07] l-emele commented on #173
We have also the classes
* HeatGeneratorTechnology
* SolarThermalHeatGenerator

All four classes should be renamed and redefined. The HeatGenerator needs to be redefined to something like: _A newclassname is an energy transformer/converter that converts other forms of energy into useful heat_. I included _useful heat_ to differentiate from _waste heat_,

Currently I have no idea for a good class n

[2020-03-12 10:11] akleinau commented on #175
@jannahastings I made a new sheet "Classes with new definitions" which contains the definitions with at least one thumbs up. Can you use ROBOT to create a pull request with those defs?

[2020-03-12 10:20] jannahastings commented on #175
Okay, I'm on it!

[2020-03-12 10:27] akleinau commented on #209
this got rather unclear so I'll implement the changes in a draft pull request to visualise it better.

[2020-03-12 10:41] akleinau commented on #209
![image](https://user-images.githubusercontent.com/56925445/76513073-01e56f80-6456-11ea-9d2c-acac14a4edba.png)
![image](https://user-images.githubusercontent.com/56925445/76513004-e9755500-6455-11ea-9027-f2158e1778d1.png)
EnergyStorage is both subclass of EnergyCarrier and EnergyStorage.
I renamed PowerToGas to PowerToGasSystem because right now we just have objects and not technologies in our ont

[2020-03-12 13:14] stap-m commented on #173
Some proposals:
**HeatGenerator:** I can't think of a term for 'HeatGenerator' that is actually used. I like `HeatGeneratingDevice`, but would this include cooling? `ThermalEnergyConverter` sounds like Thermal Energy is converted to something else, so it is not a good idea. `EnergyToHeatConverter`?
**HeatPumpHeatGenerator**: Just `HeatPump`
**SolarThermalHeatGenerator:** `SolarThermalHeatCollector

[2020-03-12 13:46] l-emele commented on #173
What about just `Heater`?
* https://dict.leo.org/englisch-deutsch/heater
* https://en.wikipedia.org/wiki/Heater

I am fine with renaming `HeatPumpHeatGenerator` to `HeatPump` and `SolarThermalHeatGenerator` to `SolarThermalCollector`. In my view in the word SolarThermalHeatCollector the parts _thermal_ and _heat_ redundant as the word _thermal_ litteraly means just to heat or temperature belonging

[2020-03-12 13:56] stap-m commented on #173
Heater sounds good to me!

[2020-03-13 09:15] akleinau commented on #173
So Heater is an EnergyTransformer, are HeatPump and SolarThermalCollector subclasses?

[2020-03-13 09:27] akleinau commented on #173
To the EnergyTransformer def: It has to start with _"... is an ArtificialObject"_ to be aristotelean so its a bit harder to get the "device" part in because that would look like _"... is an ArtificialObject that is a device"_ (a bit ugly).
So what do you think about renaming **EnergyTransformer** to **EnergyTransformerDevice**? Then we have device the same way implemented as Unit and Plant.

[2020-03-13 09:43] akleinau commented on #173
other def proposals:
**Powerplant subclasses:** Formulate them in the structure: _"A HydrogenPowerplant is a Powerplant having an aggregate of HydrogenPowerUnits as its PowerGeneratingUnits."_
**PowerGeneratingUnit subclasses:** Formulate them in the structure: _"A FossilPowerUnit is a PowerGeneratingUnit using FossilCombustionFuel as Fuel."_

[2020-03-13 10:11] stap-m commented on #173
*EnergyConvertingDevice* ?

[2020-03-13 10:29] akleinau commented on #173
I also need defs for HeatPump and FuelCell.
SolarThermalCollector has the def: _"A solar thermal collector collects heat by absorbing sunlight. The term "solar collector" commonly refers to a device for solar hot water heating, but may refer to large power generating installations such as solar parabolic troughs and solar towers or non water heating devices such as solar air heaters."_
Turbine has

[2020-03-13 10:47] stap-m commented on #173
def: A solar thermal collector is a heater that absorbs solar radiation to convert it into heat. ?

We could add more subclasses for differentiation.

[2020-03-13 10:50] akleinau commented on #209
def proposal for **ThermalEnergyStorage**: A ThermalEnergyStorage is an EnergyStorage that stores thermal energy for later use.

[2020-03-13 10:50] akleinau commented on #209
def proposal for **ThermalEnergyStorage**: A ThermalEnergyStorage is an EnergyStorage that stores thermal energy for later use.

[2020-03-13 10:51] stap-m commented on #173
For turbine, we have a def from the meeting: a turbine is a energy transformer that converts energy from a moving fluid flow into useful work.

[2020-03-16 08:27] akleinau commented on #227
@jannahastings I‘d really appreciate it if you would implement your solution as its one of the two most important problems right now apart from generators :)
Afterwards there are two subsequent issues, #134 and #240, that are (at least almost) ready to be implemented.

[2020-03-16 08:52] jannahastings commented on #227
Okay, yes, I can do! I was thinking it would need to wait to after the other outstanding PRs were merged, but I can do it now :-)

[2020-03-16 09:18] akleinau commented on #227
yeah that can take some time. I volunteer to fix merge conflicts ^^

[2020-03-16 10:49] l-emele commented on #209
Why somewhere else? Bringing energy from point A to point B is energy transport.

[2020-03-16 10:49] l-emele commented on #209
I am fine with that.

[2020-03-16 10:53] l-emele commented on #78
Those two definitions are too similar.

PumpstoragePowerplantWithNaturalInflux should be a subclass of PumpstoragePowerplant as every PumpstoragePowerplantWithNaturalInflux is still a PumpstoragePowerplant.

[2020-03-16 10:56] l-emele commented on #78
Additionally:

Alternative prosal: A StorageHydroPowerplant is a Powerplant that stores energy in the form of potential energy of water in a reservoir.

[2020-03-16 12:30] stap-m commented on #209
Moving a battery from A to B is not the classic type of 'energy transport' :) But I agree that we don't need the 'somewhere else' addition.

*Def: EnergyStorage is a function of an ArtificialObject that has been engineered to contain energy for conversion as usable energy later.*

[2020-03-16 15:13] akleinau commented on #173
more proposals:
**FuelCell**: "A FuelCell is a Generator that converts chemical energy into electricity using redox reactions."
**HeatPump**: "A HeatPump is a heater that transforms energy from air, ground or water into useful heat."

[2020-03-16 15:32] l-emele commented on #173
I am fine with the definition proposals for `FuelCell` and `SolarThermalCollector`

Proposals for definitions:
* `Turbine`: A turbine is an energy transformer that converts energy from a moving fluid flow into rotational energy.
* `HeatPump`: A heat pump is a heater that transforms low temperature heat to high temperature heat using a drive energy.

New subclass:
* `ElectricHeatPump`: An electric

[2020-03-16 15:56] akleinau commented on #149
this structure doesn't exist anymore and most have definitions. The rest will get some in the definition issue. So I'll close this.

[2020-03-16 15:56] #149 closed

[2020-03-17 08:29] stap-m opened #280 "Update definitions of subclasses of portion of matter"
## Description of the issue

Most of the definitions are not Aristotelian, as seen in From the restructuring PR #279.

## Ideas of solution

Go through the definitions and make them Aristotelian, maybe directly in a draft PR.

## Workflow checklist

- [x] I discussed the issue with someone else than me before working on a solution
- [x] I already read the **latest** version of the [workflow](https

[2020-03-17 10:35] stap-m commented on #173
`Turbine` looks good now.

`HeatPump`: "A heat pump is a heater that transforms low temperature heat to high temperature heat using *external* energy"? Although it is understood that a heat pump cannot work spontaneously...

[2020-03-18 09:47] #209 closed

[2020-03-18 09:47] #275 closed

[2020-03-18 12:11] akleinau commented on #251
@jannahastings do you agree?

[2020-03-18 12:11] akleinau commented on #262
@jannahastings what do you think?

[2020-03-18 12:13] akleinau commented on #266
@stap-m, @l-emele do you agree? Are there other people that you know that could miss them?

[2020-03-18 12:25] #150 closed

[2020-03-18 12:28] akleinau commented on #252
@jannahastings do you agree?

[2020-03-18 12:32] akleinau commented on #247
first question is do we want to define project and study just as the final documents or the whole undertaking/ activity?

[2020-03-18 13:23] stap-m commented on #266
I agree.
What about @Izzet91 ?

[2020-03-18 13:50] Izzet91 commented on #266
i agree too

[2020-03-18 13:58] #233 closed

[2020-03-18 15:11] l-emele commented on #266
I don't know whether deleting them leads to problems with the fact sheets. But if not we can surely delete these.

[2020-03-18 15:28] l-emele commented on #263
The list looks complete.

[2020-03-18 16:14] l-emele opened #282 "Add normal_state_of_matter for PortionOfMatter subclasses"
## Description of the issue

All subclasses of PortionOfMatter should have a normal state of matter. I identified the following classes which currently do not have a normal state of matter nor inherit it from an upper class:
* Air
* CrudeOil
* GasDieselOil
* CharCoal
* Hydrogen
* Methane
* Biogas
* GreenhouseGas
* Oil
* ParticulateMatter
* VolatileOrganicCompound
* NonMethaneVolatileOrganicCompoun

[2020-03-18 16:47] akleinau commented on #266
the only one that I see that is in the factsheets is "Support" with subclasses. The factsheets have a field for "Support / Community / Forum".
But in my opinion we still just need the relations ("has_support" etc) and a class Reference/ Link (that we have)  to implement this. Then a "Factsheet has_Forum Link" sentence would be enough to describe that the factsheet has a forum that can be found und

[2020-03-19 08:42] jannahastings commented on #251
Documentation is definitely not a subclass of SoftwareMaintenance.

I agree with the definition and the proposed classification, but I would rename the class to SoftwareDocumentation.

[2020-03-19 09:11] jannahastings commented on #262
I agree. Just one suggested word change:

def: A SoftwareFramework is a Software that is generic and can be adapted to a specific application.

[2020-03-19 09:33] jannahastings commented on #266
I agree that we should delete these classes. The support, community and forum annotations seem like a kind of metadata that may have some mention within IAO, we should check if perhaps they have any annotation property for mailing lists or forums?

[2020-03-19 09:46] akleinau commented on #266
we have from foaf the properties foaf:homepage and foaf:page.
I'll make a pull request then

[2020-03-19 09:59] Ludee opened #284 "OEO - Developer Meeting (OntoHack #5)"
We are planning the next **OEO Developer Meeting**.
Due to the travel limitations we will do an all online meeting.

**We will use two half day slots:**
31.03.2020 13:00 - 18:00
01.04.2020 09:00 - 12:30

**Participants** are grouped in **GitHub-Teams**:

[ontology-experts](https://github.com/orgs/OpenEnergyPlatform/teams/ontology-experts)
@jannahastings
@fabianneuhaus
@tillmo
@MGlauer
@akleinau
@J

[2020-03-19 10:43] akleinau commented on #208
@stap-m, @l-emele  what do you think about the definition, is it ok?

[2020-03-19 12:14] #251 closed

[2020-03-19 12:14] #262 closed

[2020-03-19 15:31] stap-m commented on #208
Your proposal looks good to me. The def would be accordingly:
*A model is a generically denepndent continuant that is a tool for computing the behavior of a system using an idealized representation.*

or maybe better: *... that is used for computing...* ?

[2020-03-20 08:20] #248 closed

[2020-03-20 08:20] #264 closed

[2020-03-20 08:20] #266 closed

[2020-03-20 09:39] jannahastings commented on #252
I agree, we don't need the generic 'postprocessing' or 'preprocessing' of anything, in this domain the more useful classes are specific to data.

[2020-03-20 10:56] l-emele commented on #208
Your definition proposal implies that we should have an intermediate class `Tool`:
* `generically dependent continuant`
  * `Tool`
    * `Model`

[2020-03-20 11:22] akleinau commented on #208
I dont see a reason to implement a tool class so I prefer @stap-m ‘s proposal to instead reformulate the def without using the word tool

[2020-03-20 11:25] l-emele commented on #208
To clarify: I have no preferences over one or the other definition proposals. But if we use the word tool in the definition then we should include this intermediate class.

[2020-03-20 11:33] akleinau commented on #208
Then I'll implement it with the changed definition

[2020-03-20 12:14] akleinau commented on #254
proposal:
- CollaborativeProgramming as process
- def: "CollaborativeProgramming is the process of two or more people programming together on one computer.

[2020-03-20 12:51] l-emele commented on #260
Please include there also the info that OEO_0000 is reserved for the existing classes.

[2020-03-20 12:53] l-emele commented on #229
I am no expert for the geography topics. Maybe @han-f or @christian-rli have an opinion?

[2020-03-20 15:27] #252 closed

[2020-03-20 16:13] stap-m commented on #254
Class Process seems right.

Collaborative programming does not necessarily take place on 1 computer, does it? Take github for example. @Ludee you are an expert in collaborative working I guess. Do you have a good def?

[2020-03-20 17:40] #208 closed

[2020-03-23 07:56] christian-rli commented on #284
As suggested by @han-f we should decide on a tool. Options:
- DFN (maybe overwhelmed these days)
- Zoom (never used it before, for some reason i'm sceptical)
- Microsoft Teams (not ideal for linux users)
- Skype (Can it handle so many people?)
- Nextcloud (probably too buggy)
- jitsi (maybe we should try setting up our own server?)

[2020-03-23 08:09] christian-rli commented on #229
I think I suggested deleting GeographicCoordinate in our last ontology meeting, so I'm in favour of that.

As to the GeographicRegion classes, it's dfficult for me to assess the right approach from an ontology perspective, but from what I've learned about geo-ontologies is that they are a already a big field, so better to adapt to something that others already found reasonable than create our own.

[2020-03-23 08:22] #227 closed

[2020-03-23 15:39] akleinau commented on #66
@jannahastings I think now is a good time to create the definitions for the missing object properties. I already started but encounted some problems like the ones above plus that we don't really have a form defined like the aristotelean form for entities. Also I felt with some properties that I just wrote them out as a sentence

[2020-03-23 15:46] akleinau commented on #280
I think we can start this in parallel to other issues because it just changed definitions instead of adding or deleting classes and therefore shouldn't cause merge conflicts?

[2020-03-24 09:04] akleinau commented on #280
I'll start a pull request

[2020-03-24 12:19] MGlauer commented on #238
I am currently working on basic ontology functions for the OEP and could integrate such a link. I just need to know the resource structure that should be mapped, i.e. how should the URL for `oeo-model` look like?

[2020-03-24 13:41] jannahastings commented on #238
I just looked and we will need to update the ontologies URIs as well as I think the current URIs do not incorporate the actual ontology file name as they should when we implement this.

I think the ontology URIs and associated links should look like this:

1. http://openenergy-platform.org/ontology/oeo/oeo-physical.omn
should redirect to
https://raw.githubusercontent.com/OpenEnergyPlatform/ontolog

[2020-03-25 19:13] jannahastings commented on #66
@akleinau just an interim update: I have looked at the table and made a few notes, but I still need to look in greater depth at how often and where each of these are being used.

[2020-03-26 12:41] jannahastings commented on #284
I think Zoom is great! But I guess we would need someone to have a commercial subscription to use it for such long periods (the default allows 40 minutes meetings for free).

[2020-03-26 13:29] tillmo commented on #284
I can organise a zoom room for up to 100 people (i.e. without the 40 min. restriction). Due to my experience (and I had several teleconference per day in the last days), zoom scales best.

[2020-03-26 14:25] Ludee commented on #284
We have a professional Zoom account from RLI which I reserved for the two days!

[2020-03-27 13:48] Vera-IER commented on #284
The links to the expert groups don't work for me. So I leave my GitHub handle here:
@Vera-IER

[2020-03-27 18:41] jannahastings commented on #66
I added a column with the number of times the properties are used in axioms outside of the definition of the object property hierarchy. *Most of these properties are not used at all!* Many of them represent metadata about data instances and are thus not really "object properties" at all.

---> I propose that we just delete the ones from this list that are not being used?

[2020-03-29 09:45] stap-m opened #292 "(re)structure subclasses of PowerGeneratingUnit and PowerPlant"
This issue is to discuss the structure of the classes `PowerGeneratingUnit` and and `PowerPlant`. The classes are somehow similar (apart from their level of aggregation). So to may be useful to discuss their structure together. Also related is the class `EnergyConvertingDevice`.
The class `EnergyConvertingDevice` right now is structured after the *type of energy outcome (power, heat, rotational/ki

[2020-03-30 08:12] akleinau commented on #66
yes I think many of them are more thought for model or scenario sheets like these in the "examples" folder than for inside the ontology

[2020-03-30 10:34] l-emele opened #293 "Protégé not alway opens latest oeo_physical.omn"
## Description of the issue

I just discovered that Protégé not always loads the oeo_physical.omn (and probably the other two sub-ontologies, too) from the current git branch. Instead it seems to keep an older version and loads this when oeo.omn is opened. The latest version is only loaded if explicitely oeo_physical.omn is opened.

This is not something I would have expected as a not so experienc

[2020-03-30 11:20] stap-m commented on #282
sorry. I agree with your solution.

[2020-03-30 14:30] jannahastings commented on #66
@l-emele @stap-m What do you think? Any objections to deleting the unused and undefined object properties?

[2020-03-30 14:55] #280 closed

[2020-03-30 14:56] akleinau commented on #66
How can we describe the relations in the example sheets without having them in the ontology?

[2020-03-30 15:08] stap-m commented on #66
All the factsheets are going to be worked over anyway. Thus, in my opinion they can be deleted. But I didn't create them. Can we discuss this with the austhors?

[2020-03-31 06:33] han-f commented on #284
I just saw that for some Zoom is forbidden. I have booked a teams meeting as an alternative, but this will also not be ideal. Will we be able to manage with jitsi on such short notice? @christian-rli

[2020-03-31 06:35] christian-rli commented on #284
I just meant to post the same info as you @han-f :)

jitsi would be problematic, I think. It works well in smaller groups, but it does not scale very well :/

[2020-03-31 06:38] han-f commented on #284
@christian-rli  :)
we managed a Teams meeting with over 40 people recently, this worked well, but since it doesn't work with linux, this seems also no alternative.
Maybe the good old DFN will need to do?

[2020-03-31 06:40] christian-rli commented on #284
As @l-emele has pointed out it does work for linux and the problem only occured on my computer. do you have a teams account so we could test this right now? I have another computer I could try with.

[2020-03-31 06:41] han-f commented on #284
@christian-rli - yes we can try right away

[2020-03-31 06:41] MGlauer commented on #284
I had a Teams with Arch Linux last Werk and it worked fine in Opera.

[2020-03-31 06:42] christian-rli commented on #284
@han-f neat! Can you mail me a link / backup phone number?

[2020-03-31 06:42] han-f commented on #284
@christian-rli : I sent you an invitation. There is actually also a phone number attached that can be used alternatively, if sound but not screen remains a problem, then this could solve it .

[2020-03-31 06:42] MGlauer commented on #284
@han-f I can join, too, if you need one more datapoint.

[2020-03-31 06:44] han-f commented on #284
Invitations sent via email, I am in the meeting.

[2020-03-31 07:51] #159 closed

[2020-03-31 07:51] #161 closed

[2020-03-31 07:51] #162 closed

[2020-03-31 07:51] #173 closed

[2020-03-31 07:59] HeddaElisabethGardian commented on #284
The links above didnt work for me either. My github handle is: @HeddaElisabethGardian

[2020-03-31 09:54] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #284
GIthub handle: @0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q

[2020-03-31 10:29] carstenhoyerklick commented on #284
My github handle is probably: @carstenhoyerklick

[2020-03-31 10:55] l-emele commented on #293
Is it possible, that this problem is caused by the file `src/ontology/catalog-v001.xml`? When ever I try to change branches git gives me the following error, even if I have not changed anything at all:

[code]

[2020-03-31 10:55] l-emele commented on #293
Is this related to #238?

[2020-03-31 11:02] caha42 commented on #284
Mit handle is @caha42

[2020-03-31 11:02] p-kuckertz commented on #284
My github handle is p-kuckertz

[2020-03-31 11:08] litotes18 commented on #284
my handle is @litotes18

[2020-03-31 11:29] JJ-Author commented on #284
@jj-author I am not an Open Data expert but I am familiar with Linked Data/Semantic Web technologies including ontologies on a technical level in the scope of the Semantic Web. so best fit probably linked-open-data-experts but maybe I can also contribute to ontology-experts ?

[2020-03-31 13:16] stap-m opened #297 "Add oeo structure documentation to the wiki"
## Description of the issue

A description of the oeo structure with its sub-modules and imported modules should be documented somewhere, probably in the wiki.

## Ideas of solution

## Workflow checklist

- [x] I am aware of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) for this repository
- [x] I added this issue to the Project 'Issues'. If suitable, I a

[2020-03-31 14:19] Ludee opened #298 "Add GitHub handle to contributor"
## Description of the issue

Currently, the contributors to the OEO are stored with their full name under `dc:contributor`
Is this there a better way to reference a person and a (GitHub)-handle?

## Ideas of solution

Maybe something from the FOAF ontology?
Combine name and handle like `John Doe (@Ludee)`

## Workflow checklist

- [x] I discussed the issue with someone else than me before working

[2020-03-31 15:33] l-emele opened #299 "The definition of the turbine subclasses do not fit to the definition of turbine."
## Description of the issue

We defined `Turbine`:
_A turbine is an energy converting device that converts energy from a moving fluid flow into **rotational energy**._

But the `WindTurbine` is currently defined as:
_A wind turbine is a device that converts the wind's kinetic energy into **electrical energy**._

This definition of `WindTurbine` currently describes more, what a `WindEnergyConvertin

[2020-04-01 04:28] stap-m commented on #299
Absolutely. The new def sounds good.
We could also think about renaming the class to e.g. `wind rotor` to avoid confusion with the very ambigous term `wind tubine`.

[2020-04-01 04:32] stap-m commented on #299
The defs of the other turbine subclasses could be refined aswell...

[2020-04-01 06:45] l-emele commented on #299
You are right, I adapted the issue that it covers all.

[2020-04-01 07:00] l-emele commented on #299
Proposals:
* `GasTurbine`: _A gas turbine is a turbine that converts chemical energy into rotational energy using a continous internal combustion process. Hence it is also called combustion turbine._
* `HydrogenTurbine`: _A hydrogen turbine is a gas turbine fueled with hydrogen._
* `SteamTurbine`: _A steam turbine is a turbine that converts heat from pressurized steam into rotational energy._
* `W

[2020-04-01 07:42] #299 closed

[2020-04-01 08:19] Ludee commented on #298
We should also consider the change to numerical identifiers #260 for this.

[2020-04-01 08:24] Ludee commented on #238
Can you please give a short description what this `catalog-v001.xml` is used for and what it does contain.
Is it created automatically and do I need to push it?
Who can be assigned?

[2020-04-01 08:26] stap-m opened #301 "Update definition/classification of institution and classification"
## Description of the issue

Update definition/classification of institution and classification
The def of organisation (subclass of generically dependent continuant) is: *An Organisation is a structure with multiple people that has a collective goal*

The def of institution (subclass of organisation) is : *An institution is an organisation that serves a social purpose*

## Ideas of solution

Idea

[2020-04-01 08:31] litotes18 commented on #301
candidates:
 I   Institutions are enduring regularities of human actions in situations structured by rules, norms, and shared strategies, as well as the physical world. (Crawford and Ostrom 1995, p 582)
    .(-> parent class? enduring regularities? generally dependent continuant?)

 II   Institutions are the written and unwritten rules, norms and constraints that human devise to reduce uncertainty

[2020-04-01 08:44] stap-m commented on #301
Idea for institution:
* make institution a subclass of `specifically dependent continuant`, e.g. subclass of `role`
* Def: *Institution is a specifically dependent continuant (role) that depends on a society (aggregate of people) and which provides a structure for human actions by means of rules and norms which may be written or unwritten.*
* integrate aggregate of *people/society* as *object aggr

[2020-04-01 08:47] Ludee commented on #297
Looking at other ontology repos (like [fibo](https://github.com/edmcouncil/fibo/blob/master/ONTOLOGY_GUIDE.md)) I think it is more convenient to use different files (like ONTOLOGY_GUIDE.md) instead of the wiki.

[2020-04-01 08:48] akleinau commented on #301
![image](https://user-images.githubusercontent.com/56925445/78117761-59984a80-7406-11ea-826f-f053f33557cc.png)

[2020-04-01 08:53] stap-m opened #302 "Include energy exchange and market"
## Description of the issue
Related to #256
Discussion from the 5th oeo developer meeting

Include energy exchange and market into the oeo

## Ideas of solution

Proposal: An energy exchange is an exchange in which energy is traded.

An exchange is a kind of institution where goods and services can be traded. (synonym market)

## Workflow checklist

- [ ] I discussed the issue with someone else th

[2020-04-01 08:55] stap-m commented on #256
I created an own issue for energy exchange and market/exchange #302

[2020-04-01 08:59] akleinau commented on #256
![image](https://user-images.githubusercontent.com/56925445/78118878-e68fd380-7407-11ea-8f62-9fb0c7fa51c3.png)

[2020-04-01 09:04] Ludee opened #303 "Update README.md file"
## Description of the issue

Restructure and redesign the [README.md](https://github.com/OpenEnergyPlatform/ontology/blob/dev/README.md) file.

## Ideas of solution

- [ ] Add a section **Introduction**
- [ ] Improve section **Scope**
- [ ] Improve section **Installation**
- [ ] Improve section **Contributing**
- [ ] Describe the used GitHub features ([projects](https://github.com/OpenEnergyPlatfo

[2020-04-01 09:29] akleinau commented on #238
an ontology can import other ontologies by getting a link to them.
But right now we haven't published our ontology modules yet, so instead we want the ontology to load the files locally from the cloned repository on our desktops. The catalog file does that, it overrides the internet links with relative links to "offline" files on the current desktop.

[2020-04-01 09:32] akleinau commented on #298
this shouldn't be a problem as the dc:contributor annotation is imported and therefore not impacted by the change.

[2020-04-01 09:48] l-emele commented on #238
Is this file created automatically by Protégé? If so, can it be safely deleted and will be recreated newly by Protégé if it makes troubles? (See also #293)

[2020-04-01 10:13] akleinau commented on #292
A Powerplant is an aggregate of PowerGeneratingUnits that import energy into an electric grid.

[2020-04-01 10:15] Ludee opened #304 "Restructure and document GitHub labels"
## Description of the issue

I find the selection of possible [Issue-Labels](https://github.com/OpenEnergyPlatform/ontology/labels) quite confusing. There is no clear rule for the use of labels.

## Ideas of solution

Discuss, update and document existing labels.
Add a section to the CONTRIBUTE.md
Change label colours.

## Workflow checklist

- [x] I am aware of the [workflow](https://github.com/O

[2020-04-01 10:16] akleinau commented on #292
delete FossilPowerplant and RegenerativePowerplant

[2020-04-01 10:31] akleinau commented on #292
create FueledPowerUnit and FueledPowerplant

[2020-04-01 10:35] akleinau commented on #292
GasFiredPowerUnit: uses some (Fuel and has_normal_state_of_matter value gaseous)
FueledPowerUnit: uses some Fuel
FueledPowerplant: 'has part' some BiofuelPowerUnit

[2020-04-01 10:36] akleinau commented on #292
![image](https://user-images.githubusercontent.com/56925445/78127959-62dce380-7415-11ea-909b-d94f04705448.png)

[2020-04-01 10:47] l-emele opened #305 "Include subclasses of GasFiredPowerUnit"
## Description of the issue

We need some subclasses of `GasFiredPowerUnit`.

## Ideas of solution

I do not yet have proper labels, but some first ideas of definitions.
* Gas-fired power unit that contains a gas turbine, amongst other parts.
* Gas-fired power unit using steam turbine, amongst other parts.
* Gas-fired power unit using combined cycle that contains one or more gas turbines and a ste

[2020-04-01 11:03] akleinau commented on #238
no it can't.
Some parts of it were changed by hand.

[2020-04-01 12:01] akleinau commented on #302
![image](https://user-images.githubusercontent.com/56925445/78134652-c7ea0680-7420-11ea-98d5-4ef352b4182a.png)

- **Institution:** An Institution is a role that depends on a society (aggregate of people) and which provides a structure for human actions by means of rules and norms which may be written or unwritten.
- **Exchange:** An exchange is an institution where goods and services can be traded

[2020-04-01 12:07] akleinau opened #307 "Trading and associated classes should be added"
## Description of the issue

The concept of trading with bid, awards, etc should be added to the ontology.

## Ideas of solution

From the 5. Hack:
- Trading, bid and award are subclasses of process
- bid is an offer of a good for something in return
- bid is a part of trading
- award is a part of trading
- ausschreibung ~ call for tenders (works for services, not really for goods)

![image](https

[2020-04-01 13:45] Vera-IER commented on #305
from my perspective there are several levels of subclasses of GasfiredPowerUnit:
1. level: Is it a:
- public power plant
- autoproducer power plant

2. level/branching: does the power plant contain:
-gas turbine
-steam turbine
-combined cycle

3. level/branching: Does the power plant produce:
-only electricity
-heat and electricity (CHP plant)
-only heat

4. level/branching for CHP plants:
- backp

[2020-04-01 14:12] l-emele commented on #293
I discovered, that for some reasons I do not only have one catalog-001.xml file but three versions of it:

* \catalog-v001.xml
* \src\ontology\catalog-v001.xml
* \src\ontology\edits\catalog-v001.xml

Could that cause the problems I described?

[2020-04-01 14:32] l-emele commented on #305
Thank you for your input.

Your first level has to do with ownership and operation of power plants and consumption of the produced electricity and heat. That is something we currently not have reflected in the ontology. However, I think that this are more properties of the power plants than subclasses. Also this affects not only the gas-fired power plants but all power plants as e.g. also for coal

[2020-04-01 15:36] akleinau commented on #293
first one can with a 70% chance safely deleted.
Second one is from oeo.
Third one from the modules.
Second and third are important.

[2020-04-01 15:38] akleinau commented on #293
I‘m not sure yet what’s causing the problems, if it‘s sth in our project or general etc

[2020-04-02 07:14] akleinau commented on #133
@jannahastings, @stap-m, @l-emele after the powerplant pull request should be a perfect time to switch, do you agree?

My idea for the user identifiers would be to open a list in wiki, give us the 1-4 ones and everyone who want's to contribute too can add himself there?

[2020-04-02 07:17] jannahastings commented on #133
Yes that's a good idea.

Technically I will be ready to make the change to the existing ontology content e.g. early next week.

[2020-04-02 07:18] akleinau commented on #133
going after the time of first commit (which will line up nicely with the way newcomers will get their numbers) this would be:
0 - pre-numerical classes
1 - @l-emele
2 - @stap-m
3 - @akleinau
4 - @jannahastings

[2020-04-02 07:19] akleinau commented on #133
then I'd like to use the days till then to make some small pull requests that should be no-brainers :)
(at least if I find some)

[2020-04-02 07:30] l-emele commented on #133
@akleinau , as you did so many changes I'd also okay if you are our number one :)

[2020-04-02 07:34] akleinau commented on #136
I forgot to change the def, pull request will follow soon

[2020-04-02 07:37] akleinau commented on #133
thank you, but I'm happy with 3, especially because my changes are more collaborative efforts as I have no idea of energy systems and modeling :)

[2020-04-02 08:01] akleinau commented on #136
@jannahastings if Technology is an information content entity this will move it to oeo-model, is that still in line with our modules?

[2020-04-02 08:13] akleinau commented on #259
oh the "add to contributing.md" part is missing, I'll make a pull request soon

[2020-04-02 08:21] Vera-IER commented on #305
Yes the ownership (autoproducer or public) can be applied to all power plants, also to the renewable ones. From my energy model perspective I have a group of processes which are public power plants in the electricity sector and than I have a group of processes representing the autoproducer plants in the industry sector. (In the Eurostat energy balance there is also this differenciation, which is m

[2020-04-02 08:28] akleinau opened #310 "improve branch naming conventions in contributing.md"
## Description of the issue

@jannahastings started with adding the issue number at the end of the branch name:
instead of feature/topic
the branch gets named: feature/topic-#issue-number

e.g. feature/addTree-#100

## Ideas of solution

add this convention to contributing.md because it's quite helpful

## Workflow checklist

- [x] I am aware of the [workflow](https://github.com/OpenEnergyPlatform

[2020-04-02 08:37] #259 closed

[2020-04-02 09:05] akleinau commented on #259
![image](https://user-images.githubusercontent.com/56925445/78230560-c88ea580-74d1-11ea-921c-a9606c69563f.png)

example

[2020-04-02 09:17] akleinau commented on #303
I'll create a draft pull request as this won't cause merge conflicts and is better solved with a file on hand.

[2020-04-02 09:39] akleinau opened #312 "the wiki hierarchy doesn't include all pages"
## Description of the issue

The wiki hierarchy doesn't include all wiki pages, especially because the categories aren't sufficient to order some of them in.

## Ideas of solution

create a new hierarchy structure.
Add categories for tutorials, helpful stuff, etc

## Workflow checklist

- [x] I am aware of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) for

[2020-04-02 10:44] stap-m commented on #305
Thank you for the input @Vera-IER. It is very helpful to get new point of views. We should definitely reflect those questions in the oeo.

Regarding ownership: I think this is even more a topic for powerplants than power generating units?! We maybe could realize this by a class `ownership` and a property `is_owned by` (or something like that). @akleinau what do you think?

As I understand it, this

[2020-04-02 11:19] Ludee opened #313 "Create an English version of the OEO steering committee wiki description"
## Description of the issue

https://github.com/OpenEnergyPlatform/ontology/wiki/OEO-Steering-Committee

## Ideas of solution

Translate and extend.

## Workflow checklist

- [x] I am aware of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) for this repository
- [x] I added this issue to the Project 'Issues'. If suitable, I add it to further Projects.

[2020-04-02 12:04] Vera-IER opened #314 "Include a new class called ownership which separates autoproducer power plants from public power plants"
## Description of the issue

All types of power plants (also the renewable ones) can be devided into public power plants or autoproducer power plants. Public power plants belong to the public electricity sector and autoproducer plants belong to the industry sector. I cannot find such a differenciation in the ontology. In energy sytem models there are usually both types of power plants represented,

[2020-04-02 12:15] Vera-IER commented on #305
Yes I opened the issue #314 for the ownership discussion.

[2020-04-03 12:46] akleinau commented on #312
I added a tutorial category

[2020-04-03 13:17] jannahastings commented on #293
@l-emele I am curious about what is getting changed in those catalog files when you open the Protege, because it is creating local changes. Could you open the oeo.omn and reproduce the problem, and then, paste the contents of the catalog-xxx.xml here?

[2020-04-03 15:32] jannahastings commented on #136
If we go with that definition, then the name should be changed to "technology specification" rather than just technology. But it does not have to move to oeo-model, as we can have information content entities in the other modules as well? I think, to me, it would make more sense to keep it in the oeo-physical...?

[2020-04-06 08:47] akleinau commented on #133
concerning branches, I just deleted some, the rest is:
dev - will be changed
master - can be ignored
**contribute-PK, powerplant - have to be merged**
readme, travis - don‘t change oeo, can stay active
geo, sector - have to be reworked anyway so won‘t be (ever) merged but shouls stay active for inspiration, especially sector

[2020-04-06 12:27] akleinau commented on #304
ok, all labels:
frequently used
- issue type: [A] new term, [B] restructure, [C] definition update
- concerned module: oeo-model, oeo-physical, oeo-social
- concerned topic: Energ carriers and fuels, extern ontology, geographic
- other: bug, ready for implementation (self explanatory)

I propose to delete
- class missing: this seems duplicate to our issue type [A] new term, delete?
- duplicate: I

[2020-04-06 12:30] akleinau commented on #304
We don't really work in the classic "project meeting,decide what to do - work phase, implement" way with requirement_specification and specification_sheets that get worked off.
So maybe organisation or SzenarienDB is enough in the third category?

[2020-04-06 12:50] jannahastings commented on #205
See also: https://github.com/obi-ontology/obi/wiki/Data-and-Values

[2020-04-06 13:58] jannahastings commented on #133
Great! I will just wait for the PR #306 to be merged and then I will make the changes.

[2020-04-06 14:13] #292 closed

[2020-04-06 14:14] akleinau commented on #133
merged :)

[2020-04-06 15:43] #312 closed

[2020-04-07 09:18] stap-m opened #316 "Meta-Issue: Include/Rework terms related to "briefing on conversions""
## Description of the issue

Terminology from the "briefing on conversions" should be included in the oeo or, if already part, be reviewed.
The project "Conversions" was created. Please add respective issues to it.

## Ideas of solution

## Workflow checklist

- [x] I discussed the issue with someone else than me before working on a solution
- [x] I already read the **latest** version of the [work

[2020-04-07 15:22] akleinau commented on #304
To the "change colors"  part: Should related labels like oeo-model, oeo-physical and oeo-social rather have the same or similar colors to show their relation or different to differentiate the issues?

[2020-04-07 15:45] akleinau commented on #260
![image](https://user-images.githubusercontent.com/56925445/78690271-84e3d380-78f7-11ea-9a25-74bec6cc5d84.png)

[2020-04-07 16:00] akleinau commented on #133
The wiki page: https://github.com/OpenEnergyPlatform/ontology/wiki/Numerical-Identifiers

[2020-04-08 08:54] litotes18 commented on #256
Thank you for the good discussion during the OEO meeting!
Here are the terms that our (typical for other models of this kind) agent-based model uses and that are not in the OEO yet:
**Contracts:**
DeliveryTime
DeliveryInterval
Sender
Receiver
FuelPriceRequest
MarginalCost
Bid
Award
DispatchAssignment
PowerPlantPortfolio

**Power plants:**
Capacity
InstalledPower
PlannedAvailability
Efficiency
Bloc

[2020-04-08 09:56] stap-m commented on #256
Thanks for the collection @litotes18
For the discussion of these terms, could you open a single issues for a single term (or a couple of very related/interfering terms)? In the new issue description, you can link this meta issue #256 and provide a definition/explanation of the term. From there, we can derive a classification and an Aristotelian definition together.

[2020-04-09 07:21] akleinau opened #318 "software element definition is false"
## Description of the issue

The software element definition right now is: "A model component is a part of a model." which is obviously false. We should also take a look at the subclasses and their classification: grid model, interface, scenario, solver

## Ideas of solution

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [x] I already r

[2020-04-09 07:23] akleinau opened #319 "the hardware definition is false"
## Description of the issue

Hardware right now has the def: "In thermodynamics, heat is energy in transfer..."
This should obviously be fixed.

## Ideas of solution

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [x] I already read the **latest** version of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUT

[2020-04-09 14:38] p-kuckertz opened #320 "Include "Capacity" of energy system components"
## Description of the issue

The concept of "capacity" should be added to the ontology. It is needed to describe many components of an energy system, e.g. storage components like batteries and salt caverns or transmission components like pipelines and cables.

This issue is primary targeting maximum capacities, but there might also be minimum capacities. ("capacity" implicitly equal to "maximum ca

[2020-04-09 16:12] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #320
We'll certainly need capacities.

"Capacity" is a technical term with a precise, well-defined meaning, that is overloaded in every day language with all kinds of fuzzy concepts.

I would consider this a proper capacity, measured in Joule (or something like mass that converts to Joules with some material property). See [wikipedia](https://en.wikipedia.org/wiki/Energy_storage#Storage_capacity).

Tha

[2020-04-14 14:16] akleinau commented on #240
I'll implement this after the current #317 pull request, based on that branch to speed up progress

[2020-04-15 08:59] l-emele commented on #293
I deleted the catalog file in the root directory right after @akleinau's comment that "can be safely deleted with a 70% chance". Now Protégé seems to work correctly and does not produce any hiccups. Protégé does not produce a new file. So probably Protégé was confused by the existence of the file.

@jannahastings : As I deleted the file, I can't copy & paste the content here.

I close this issue.

[2020-04-15 08:59] #293 closed

[2020-04-15 10:05] akleinau commented on #297
I'll write a wiki article for now.
Changing to a GUIDE.md file should be discussed in a separate issue as it affects a lot of other wiki articles.

[2020-04-15 10:29] akleinau commented on #297
https://github.com/OpenEnergyPlatform/ontology/wiki/Structure-of-the-OEO

[2020-04-15 11:47] l-emele commented on #305
For the 0.0.1 we do only the first subhierarchical level. All details below go into a later release.

[2020-04-15 11:50] l-emele commented on #284
The meeting is over so i close this issue.

[2020-04-15 11:50] #284 closed

[2020-04-15 11:51] stap-m commented on #304
ToDo: Rename label 'oeo telko' to 'oeo dev meeting'

[2020-04-15 11:54] akleinau commented on #268
delete to leave out in first release

[2020-04-15 11:54] akleinau commented on #267
delete to leave out in first release

[2020-04-15 11:57] akleinau commented on #255
should wait for #282

[2020-04-15 11:59] akleinau commented on #249
delete and leave out for first release, discuss later

[2020-04-15 12:00] l-emele commented on #249
For the 0.0.1 release we delete these undefined subclasses.

[2020-04-15 12:05] akleinau commented on #232
delete all demand, quantity etc for first release

[2020-04-15 12:14] akleinau commented on #78
delete the classes for now

[2020-04-15 12:20] l-emele commented on #33
Split into separate issues.

[2020-04-15 12:22] l-emele commented on #19
Can be closed after the first release.

[2020-04-15 12:24] #13 closed

[2020-04-15 12:25] #4 closed

[2020-04-15 12:31] l-emele commented on #4
Duplicate to #175.

[2020-04-15 12:42] #133 closed

[2020-04-15 12:50] akleinau commented on #260
![image](https://user-images.githubusercontent.com/56925445/79338932-60f04580-7f28-11ea-9293-e08e4a3d379d.png)

[2020-04-15 12:50] akleinau commented on #260
![image](https://user-images.githubusercontent.com/56925445/79338999-7bc2ba00-7f28-11ea-8a44-2a77207c0c66.png)

[2020-04-15 12:50] jannahastings commented on #260
Specified IRI: http://openenergy-platform.org/ontology/oeo/

[2020-04-15 12:52] akleinau commented on #260
![image](https://user-images.githubusercontent.com/56925445/79339125-b0367600-7f28-11ea-86e2-47b18b551a2f.png)

[2020-04-15 12:54] akleinau commented on #260
![image](https://user-images.githubusercontent.com/56925445/79339344-086d7800-7f29-11ea-804f-1b4e2df3e6d5.png)

[2020-04-15 13:46] akleinau commented on #297
@jannahastings can you look over this?

[2020-04-15 13:47] akleinau commented on #260
this is solved

[2020-04-15 13:47] #260 closed

[2020-04-15 13:51] akleinau commented on #73
@gnn can we fix this now? Would be important for the release

[2020-04-15 15:47] #229 closed

[2020-04-15 16:52] akleinau commented on #136
@jannahastings I agree, so how do we proceed, do we make a new module just for one class? that would seem wasteful.  Copy and paste the class direcly inside oeo-physical?

[2020-04-15 16:57] akleinau commented on #36
so as bullet points current situation, as tasks a bit modified changes proposed in this issue

grid
- classification: BFO: object aggregate
- definition: A grid is an object aggregate of systematically connected artificial objects that can work as a supply system
- subclass 'electricityGrid'
- [ ] add: subclass 'gasGrid'

ElectricityGridcomponent
- classification: ArtificialObject,  part of some E

[2020-04-15 17:00] akleinau commented on #36
hmm thats a bit complicated, are graph, link and node fiat object parts or objects?

[2020-04-15 17:08] akleinau commented on #82
content descriptor has the following subclasses:
- **analytical approach**
- **methodical focus**
- **primary outputs:** primary outputs is a content descriptor stating the main outputs of the content.
- **primary purpose:** A primary purpose is a content descriptor stating the main purpose of a content.

[2020-04-15 17:09] akleinau commented on #82
two need definitions, is the classification ok for first release?

[2020-04-15 17:20] akleinau commented on #301
Organisation def: "A role depending on a society that has a collective goal.
Society def: "An object aggregate of people".

Is it a problem that organisation has "political party" as subclass?

[2020-04-15 17:25] akleinau commented on #319
proposal: Hardware is an artificial object that is part of an electronical system.

[2020-04-15 17:30] akleinau commented on #318
- delete software element as its not needed
- make grid model subclass of model
- make interface a software method? or module? or directly software?
- open issue for scenario!
- make solver a subclass of software

[2020-04-15 17:33] akleinau opened #328 "scenario needs a reclassification"
## Description of the issue

scenario: "(WIP) A scenario is a collection of assumptions about the energy system.
There is not yet a consens about the definition."

needs a def and a new place, not "software element" where it is right now.

## Ideas of solution

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [ ] I already read the **lates

[2020-04-15 17:33] akleinau commented on #328
related to #318

[2020-04-16 07:51] akleinau commented on #66
hmm, I couln't find out who added them.
I added a column for "delete this and replace it with" to the excel sheet ([link](https://docs.google.com/spreadsheets/d/1Sne3JqzHbIu-hIlmzMpnc2odwGEK2saYxX8m4NcAuH0/edit#gid=1753138158)) though.
But now I'm thinking if we should widen this to include all object properties (that are not imported)

[2020-04-16 08:02] akleinau commented on #66
maybe deleting the unused ones and adding them later again when actually needed is the most efficient way

[2020-04-16 08:04] han-f commented on #302
Isn't an exchange a specific activity that takes place, e.g. I give you a piece of chocolate and you give me a strawberry and the market is the institution where such exchange takes place, for example using money as the standardised currency for conducting the exchange.

[2020-04-16 08:05] jannahastings commented on #36
I suggest we try to find primary labels for these that are less generic and more specific to the electricity context, to avoid ambiguity with other types of grid, node and link? (I see some are already suggested in the proposal above.)

e.g. (just using the proposed definitions)

supply grid: A supply grid is an object aggregate of systematically connected artificial objects that can work as a sup

[2020-04-16 08:08] han-f commented on #302
See for example here: A market is an arrangement between buyers and sellers to exchange goods or services for money. https://www.economicsonline.co.uk/Definitions/Market.html

[2020-04-16 08:09] l-emele commented on #66
I have no objections against deleting the unused and undefined object properties.

[2020-04-16 08:25] jannahastings commented on #82
Here are some suggestions:

content descriptor: rename to
'model descriptor'
def: "An information content entity that contains additional information about some model."
object property restriction: 'is about' some 'model'

'analytical approach' has individuals: 'top down' 'bottom up' 'hybrid' and 'other'.
Thus,
'analytical approach': def "A model descriptor that contains additional information abo

[2020-04-16 08:28] jannahastings commented on #136
Both are possible, but I vote let's make a new module just for one class, it's not a big deal with robot and we may add more in the future. We could call it "iao-minimal"?

[2020-04-16 08:35] akleinau commented on #136
ok, then let's do that

[2020-04-16 09:02] akleinau commented on #305
the first level is the ownership discussion, so we implement #314 instead of this for first release?

[2020-04-16 09:35] Ludee commented on #31
Is there a process to include existing [RDF](https://creativecommons.org/schema.rdf) files in the OEO?
It seems to be licensed under CC-BY-4.0 and thus doesn't fit to our CC0.

[2020-04-16 09:39] han-f commented on #181
In economics, for example,  _Input-output tables (IOT) are product-by-product or industry-by-industry matrices combining both (product) supply and use into a single table with identical classification of products or industries, applied to both rows and columns._ https://ec.europa.eu/eurostat/web/esa-supply-use-input-tables/overview

Some further documentation on IOT logic: https://www.destatis.de/

[2020-04-16 09:58] han-f commented on #302
Suggestions:
**Trade:** the act of exchanging one good or service for another good (usually money)
**Market:** an place (institution?) where buyers and sellers exchange trade goods or services for  money.
**EnergyMarket:** a market on which energy is traded.

Note: I could also trade chocolate for strawberries, or my laptop for a book. In this case there is no single standardised means for exchang

[2020-04-16 10:20] han-f commented on #328
Some food for thought on potential definitions, including challenges (see bolded texts)

From IPCC:
**Scenario**
A plausible description of **how the future may develop based on a coherent and internally consistent set of assumptions about key driving forces (e.g., rate of technological change, prices)** and relationships. Note that scenarios are neither predictions nor forecasts, but are useful t

[2020-04-16 10:29] han-f commented on #302
And similarly:
**CarbonMarket**: a market where emission allowances are traded
-> I assume this is what is meant with carbon market? Trading emission certificated under the EU ETS?

**FuelMarket**: a market where fuel is traded

[2020-04-16 10:37] Ludee opened #329 "OEO Developer Meeting #6"
We are planning the next OEO Developer Meeting.
Due to the travel limitations we will do an all online meeting.

We will use a half day slot:
**Di 28.04.2020 13:00 - 18:00**

[2020-04-16 10:38] han-f opened #330 "We should add market participants to oeo-social"
## Description of the issue

In #302 we discuss market and trade. Trade happens between market participants. We should introduce these participants to the ontology.

## Ideas of solution
In economics there are supply and demand expressed on a market. The agents expressing supply and demand could be called "supplier" and "consumer", while the quantities they announce they are willing to trade at a

[2020-04-16 10:47] han-f commented on #256
I added some general thoughts on markets in #302 and opened another ticket for introduction of market participants (#330)

[2020-04-16 10:54] han-f commented on #256
General questions from a very general economics point of view:
Bid and award:
* What exactly do you mean with bid?
* What exactly do you mean with award?

My initial thought on bid: With a bid a potential consumer (see #330) expresses interest to obtain a specific quantity of some commodity. Let's say I offer 300 Euros for 10 emissions certificates.
-> From bid we could then derive the price that

[2020-04-16 11:01] han-f opened #331 "We should add the term price to oeo-social"
## Description of the issue
On markets, commodities are exchanged against money. Commodities trade at a  price. We should introduce price to the oeo-social part.
A price is the amount of money exchanged during the trade of a commodity.

## Ideas of solution
Price is an objective magnitude of numerical value.  (However, the putative value of an exchanged commodity may not be equal to the attached p

[2020-04-16 11:46] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #314
Makes sense to me, although I don't think "ownership" would be a useful term for this.  I think the distinction is quite arcane to people not familiar with it and can safely be ignored by models that do not represent the distinction.  So the term does not have to be immediately clear to everyone.  But "ownership" will generate false associations for a lot of people.

From the IEA *"Energy Balances

[2020-04-16 11:49] akleinau opened #332 "the templates still want CamelCase and have to be changed"
## Description of the issue

## Ideas of solution

delete camelcase checkbox

## Workflow checklist

- [ ] I am aware of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) for this repository
- [ ] I added this issue to the Project 'Issues'. If suitable, I add it to further Projects.

[2020-04-16 12:00] akleinau commented on #310
this is actually already implemented, I guess I oversaw

[2020-04-16 12:00] #310 closed

[2020-04-16 12:04] han-f commented on #243
Should this include a definition for _emission factor_ or _emission factor value_?
**Suggestions for emission factor:**
The emission factor is the ratio between the amount of pollution generated and the amount of a given raw material processed. The term may also refer to the ratio between the emissions generated and the outputs of production processes. https://stats.oecd.org/glossary/detail.asp?ID

[2020-04-16 12:22] akleinau commented on #282
so VolatileOrganicCompound and NonMethaneVolatileOrganicCompound get no normal_state_of_matter property?
This can be implemented as soon as #321 is merged

[2020-04-16 12:49] akleinau commented on #136
I'll make a pull request

[2020-04-16 12:56] Vera-IER commented on #314
Yes thats true, the suggested names could be missleading. I just found a nice definition from the European Commission:

So let's go with _type of producers_, _main activity producer_ and _autoproducer_?

[2020-04-16 13:04] Vera-IER commented on #314
I don't now if the source of the definition is needed? It's this one: https://ec.europa.eu/eurostat/documents/38154/41386/Ele_AQ_documentation.pdf/a06bf650-1830-4fcb-9376-7be1f8ab080c

[2020-04-16 13:17] l-emele commented on #282
Yes, exactly. VolatileOrganicCompound and NonMethaneVolatileOrganicCompound are basically groups of substances with diverse nomal states of matter. Only for spectific members in this groups (i.e. subclasses) normal states of matters can be specified. However the individual members are out of scope of our ontology as this is too detailed.

[2020-04-16 13:50] l-emele commented on #314
Those definitions from the European Commission and IEA help a lot. But in the end we need an [Aristotelian definiton](https://github.com/OpenEnergyPlatform/ontology/wiki/Principles-for-Definitions).

[2020-04-16 14:19] p-kuckertz commented on #25
This issue has now also been assigned to me. Although I had a quick look in OnToology and now think I have a rough idea what it is about, I'm lacking the context - also about my involvement. What is the current status of this issue (and expectations, requirements)?

[2020-04-16 14:31] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #314
Sources are nice.  [The PDF is actually archived](https://web.archive.org/web/2017*/https://ec.europa.eu/eurostat/documents/38154/41386/Ele_AQ_documentation.pdf/a06bf650-1830-4fcb-9376-7be1f8ab080c).  The IEA documentation doesn't seem to be publicly available.

---

Being proper Aristotelian and camel-casing, we get:

and

Browsing around, I would stick it all beneath "organisation".

Which would

[2020-04-16 14:58] Ludee commented on #25
We should evaluate and document pro and cons. As I understand it, this is important for Ontologies and LOD.
The process seems quite simple:

Shall we do it already or wait for the first OEO release?

[2020-04-16 15:10] akleinau commented on #314
CamelCasing just got replaced with normal lower case because of the change to numerical identifiers. Templates are updated in roughly 10 seconds from now.

[2020-04-16 15:10] #332 closed

[2020-04-16 15:12] akleinau commented on #314
Templates are updated, new rules, so new defs:

[2020-04-16 15:18] akleinau commented on #314
"an organisation that generates electricity and/or heat" sounds a bit misleading as an organisation consists mainly of a group of people and those people don't generate the electricity, their machines etc do.

btw the upcoming def of organisation is: "A role depending on a society that has a collective goal."

so what is meant is that the goal of the producers is to generate electricity and/or hea

[2020-04-16 15:19] l-emele commented on #314
These definitions read good. As this is related to markets and economic activities and I would assume this goes into the oeo-social module? I added the respective label

[2020-04-16 15:19] akleinau commented on #314
definitely social

[2020-04-16 15:20] akleinau commented on #314
do we need the Type suffix? this reads a bit cumbersome

[2020-04-16 15:22] l-emele commented on #314
The ultimate goal of these organisations is earn money. :) Some of them *sell* electricity and/or heat, these are the main activity producers. Other have power plants which assist their production process with electricity and/or heat to produce goods (or services). The latter don't sell the electricity and/or heat but the produced products.

(This is probably obvious to you, but sometimes it helps

[2020-04-16 15:26] akleinau commented on #314
then a producer is an organisation that is active in the energy production domain (pr sth in that sense?)

[2020-04-16 15:33] akleinau commented on #314
or we just leave it as "an organisation that generates electricity and/or heat" as long as the domain experts understand what is meant ;)

[2020-04-16 15:33] akleinau commented on #314
I just really don't like the "Type" suffix

[2020-04-16 15:56] l-emele commented on #314
Yes, "type" is also weird too me. It is somehow an objectification of a property.

@jannahastings : Any thoughts on this?

[2020-04-16 15:58] #136 closed

[2020-04-16 19:58] #240 closed

[2020-04-17 05:49] han-f opened #335 "We should add the term money to oeo-social"
## Description of the issue
Money is used to exchange commodities, no matter if these are physical, energy-flows, financial, services .. .

## Ideas of solution
Money is a universal medium for exchange
Money is also a commodity for storing exchangeable wealth.

Work along "An ontology of economic objects", Gloria Zuniga (1999).
https://mpra.ub.uni-muenchen.de/5566/1/Ontology_of_Economic_Objects.pd

[2020-04-17 05:54] han-f commented on #330
Sometimes supplier may also be called producer.

[2020-04-17 05:56] akleinau commented on #328
as a description of sth I propose to make it a subclass of information content entity

[2020-04-17 05:58] akleinau commented on #330
so this is a bit linked to #314 were we introduce a producer? There it's more in the sense of some organisation that generates electricity

[2020-04-17 06:01] akleinau commented on #282
this can be implemented now, @l-emele do you want to do it?

[2020-04-17 06:09] han-f commented on #330
I am not sure. I think in oeo-social we would introduce markets and market participants from a more fundamental point of view and then an organisation that generates electricity would be specific kind of supplier.
Probably supplier is a better term as it is more inclusive. For example I could also supply a haircut or an hour of consultation. I think that would not fit so well with the term "produc

[2020-04-17 06:10] akleinau opened #336 "validation and subclasses need reclassification"
## Description of the issue

validation and its subclasses robustness and uncertainty are no information content entities.
Therefore they need to get a new parent class, new definitions and we should first talk about if they are actually needed? That are very abstract terms.

## Ideas of solution

## Workflow checklist

- [x] I discussed the issue with someone else than me before working on a solu

[2020-04-17 06:13] akleinau commented on #82
we also have the class mathematical concept. It has individuals like "agent based programming", "linear programming", "fuzzy logic" and I feel like it in some way belongs to this type of classes here.
It needs a def too

[2020-04-17 06:15] akleinau opened #337 "Transhipment model has no def"
## Description of the issue

Transhipmentmodel is a subclass of grid model: "A grid model is a model is about the electricity grid." It needs a definition.

## Ideas of solution

## Workflow checklist

- [x] I discussed the issue with someone else than me before working on a solution
- [x] I already read the **latest** version of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/d

[2020-04-17 06:16] akleinau opened #338 "modeling software has no def"
## Description of the issue

Modeling software is a subclass of software and needs a definition.

## Ideas of solution

## Workflow checklist

- [x] I discussed the issue with someone else than me before working on a solution
- [x] I already read the **latest** version of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) for this repository
- [x] I added this

[2020-04-17 06:17] akleinau commented on #175
We have issues now for all classes that still miss definitions and all of them are part of milestone 1.
Object properties got moved into their own issue so this can just sleep till everything is done or do we close it in such a case?

[2020-04-17 06:23] akleinau commented on #329
Would it make sense to make an issue for release 0.0.1? like we do for the meetings? To summarise the idea, important points, chosen issues etc?

[2020-04-17 06:30] han-f opened #339 "We should add the term commodity to oeo-social"
## Description of the issue
A commodity is an economic good (#340 ) that is supplied and can be acquired. This could be any physical good, energy-flow,service etc.

## Ideas of solution
Work along  "An ontology of economic objects", Gloria Zuniga (1999).
https://mpra.ub.uni-muenchen.de/5566/1/Ontology_of_Economic_Objects.pdf

## Workflow checklist

- [ ] I discussed the issue with someone else tha

[2020-04-17 06:31] han-f opened #340 "We should add economic good to oeo-social"
## Description of the issue

Economic goods are goods that exist and that individuals perceive to be able to fulfill a want or need. They are scarce.
They only become commodities (#339 ) if they are supplied and can be acquired.

## Ideas of solution

Work along  "An ontology of economic objects", Gloria Zuniga (1999).
https://mpra.ub.uni-muenchen.de/5566/1/Ontology_of_Economic_Objects.pdf

## Wor

[2020-04-17 06:52] jannahastings commented on #175
Let's close this issue, I think we addressed the original issue and we have open issues for the further points that came up.

[2020-04-17 06:52] #175 closed

[2020-04-17 07:03] han-f opened #341 "We should add exchange to oeo-social"
## Description of the issue

An exchange takes place when commodities are traded (e.g. energy).

## Ideas of solution

Work along "An ontology of economic objects", Gloria Zuniga (1999).
https://mpra.ub.uni-muenchen.de/5566/1/Ontology_of_Economic_Objects.pdf

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [x] I already read the **latest*

[2020-04-17 07:04] han-f commented on #341
Related to #302

[2020-04-17 07:23] p-kuckertz commented on #25
I don't yet get the connection to LOD. What exactly can OnToology do for us and how would we benefit? Maybe it makes sense to know that before implementing it?

[2020-04-17 08:01] han-f commented on #340
See Menger (1871):
_Diejenigen Dinge, welche die Tauglichkeit haben, in Causal-Zusammenhang mit der Befriedigung menschlicher Bedürfnisse gesetzt zu werden, nennen wir Nützlichkeiten_ [economic goods], _wofern wir diesen Causal-Zusammenhang aber erkennen und es **zugleich in unserer Macht haben, die in Rede stehenden Dinge zur Befriedigung unserer Bedürfnisse thatsächlich heranzuziehen**, nennen w

[2020-04-17 08:11] han-f commented on #339
See Menger (1871):
(...), _wofern wir diesen Causal-Zusammenhang aber erkennen und es zugleich in unserer Macht haben, die in Rede stehenden Dinge zur Befriedigung unserer Bedürfnisse thatsächlich heranzuziehen, nennen wir sie Güter_ [commodities]
(https://oll.libertyfund.org/titles/1279#lf0761_label_028 )

[2020-04-17 09:54] han-f opened #342 "Add economic value to oeo-social?"
## Description of the issue
I am not sure whether we need to add value to oeo-social. If we wanted to include some fundamentals of economics to oeo-social, then this term would be useful.
Value is not equal to price. I paste some Menger (1871) into the comment below for some initial food for thought.

## Ideas of solution

Work along "An ontology of economic objects", Gloria Zuniga (1999).
https:/

[2020-04-17 09:55] han-f commented on #342
Food for thought:
_Ist nämlich der Bedarf an einem Gute grösser, als die verfügbare Quantität desselben, so steht zugleich fest, dass, nachdem ein Theil der bezüglichen Bedürfnisse ohnehin wird unbefriedigt bleiben müssen, die verfügbare Quantität des in Rede stehenden Gutes um keine irgendwie practisch beachtenswerthe Theilquantität verringert werden kann, ohne dass hiedurch irgend ein Bedürfniss

[2020-04-17 11:07] jannahastings commented on #297
Looks good. I made some tiny edits.

[2020-04-17 11:14] l-emele commented on #282
Yes, I will do it.

[2020-04-17 11:33] jannahastings commented on #314
I agree, we should not use "type" in the name or definition. After all, _everything_ in the ontology is a type, unless it is an individual.

How about introducing "organisational energy producer": def=An organisation that undertakes generating electricity and/or heat to sell to third parties.
SubClassOf: organisation and has_role some 'producer' (role)

I would also recommend adding "energy" in th

[2020-04-17 12:07] Vera-IER commented on #314
SubClassOf: organisation and has_role some 'producer' (role)

I think the last part of the definition for "organisational energy producer" is not correct (to sell to third parties). That applies only to "main activity energy producers". We should delete that part:
def=An organisation that undertakes generating electricity and/or heat.

"main activity energy producer" sounds good to me.

The term "

[2020-04-17 12:15] akleinau commented on #297
then I'll close

[2020-04-17 12:15] #297 closed

[2020-04-17 13:28] l-emele commented on #282
My first try was `SubClassOf: has_normal_state_of_matter value liquid or solid`, but Protégé does not accept this.

My second try is now:
`SubClassOf: (has_normal_state_of_matter value liquid) or (has_normal_state_of_matter value solid)`
Protégé seems to accept this, but I am still not sure whether that is now correct.

@akleinau @jannahastings : Is my commit e1798ae the correct way to implement t

[2020-04-17 13:37] akleinau commented on #282
some instead of value, we changed

[2020-04-17 14:10] #282 closed

[2020-04-20 05:55] han-f commented on #338
Some thoughts:
I see two aspects of this and not sure if both should enter the def:

1) Modeling software is a software that can be used to build abstractions of the "real world", i.e. create a model

Thinking about a model as such - also including : this could  be static (i.e. a statue), or dynamic (a simulation model). The dynamic case is probably what we are interested in. Thus I wonder whether

[2020-04-20 06:12] han-f commented on #338
What we currently have in the ontology is:
Software:  _Software is a plan specification composed of a series of instructions that can be
interpreted by or directly executed by a processing unit._

Model: _A model is a generically dependent continuant that is used for computing the behavior of a system using an idealized representation._
-> That definition of model already takes into account that a

[2020-04-20 06:32] stap-m commented on #328
*information content entity* is a suitable classification I think. In "Dieckhoff, Christian et al.: Zur Interpretation von Energieszenarien (Schriftenreihe Energiesysteme der Zukunft), München 2014." we find these (german) def:
*Ein Szenario ist ein sprachliches Gebilde, das als Aussagensystem rekonstruiert werden kann. In einem Szenario wird ausgedrückt, dass ein bestimmter zukünftiger Zustand od

[2020-04-20 06:43] han-f commented on #268
May cost be something reflected on oeo-social instead? _Cost_ is an economic term and there are several different types of costs, see for example here: https://en.wikipedia.org/wiki/Economic_cost

[2020-04-20 06:44] l-emele commented on #328
* scenario
  * climate scenario
  * emission scenario
  * energy scenario

Seems good. However these classes should not be implemented as disjoint as a specific scenario can be of more than one scenario type. E.g. Our KS95 scenario is both an emission scenario and an energy scenario,

[2020-04-20 06:57] han-f commented on #254
I also don't think it is necessarily happening on one machine - each participator could to so on his/her own machine checking code in and out using version control and following a standard protocol for dealing with changes (as here on github for OEP for example). The latter may not be a necessary condition for collaborative programming I think, but highly recommended.

How about: CollaborativeProg

[2020-04-20 06:57] wingechr commented on #337
A rough definition could be something like:

[2020-04-20 07:06] stap-m commented on #314
We already have a class **producer** which is a subclass of **agent** which might also fit as classification (better that organisation?).
Its def is at the moment: *A producer is an agent that makes goods to sell them.*
The def could be extended like that *A producer is an agent that makes goods for selling or self consumption.*

[2020-04-20 07:28] han-f commented on #328
Could we also include _economic scenario_ ?

[2020-04-20 07:31] han-f commented on #337
A general question: there are other grids than electricity grids aren't there? Couldn't other grids also be relevant to a subset of models in our domain? If yes, should we define grid model less specific and more generic?

[2020-04-20 07:33] stap-m commented on #304
class missing: this seems duplicate to our issue type [A] new term, delete?
    duplicate: I always just close duplicate issues, delete?
    invalid: same as bug?
    help wanted: who should look for this? We most times just tag people who could be of help. Delete?
    relation missing: don't see use case, delete?

I agree.

[2020-04-20 07:33] stap-m commented on #304
The *requirement_specification* and *specification_sheet* come from the requirements analysis in the SzenarienDB project. Keep one of them and drop the other?

[2020-04-20 07:36] l-emele commented on #328
Yes, of  course.

Emission scenario needs a somewhat different definition than the other as there is no emission system. What about _emission trajectory_?

* scenario: A scenario is an information content entity that contains statements about a possible future development based on a coherent and internally consistent set of assumptions and their motivation.
  * climate scenario: An climate scenari

[2020-04-20 07:41] han-f commented on #328
Sounds good to me.

* emission scenario: An **emission** scenario is a scenario that describes a possible emission trajectory.

[2020-04-20 07:43] l-emele commented on #328
Oops. Corrected it above.

[2020-04-20 08:03] stap-m commented on #180
Sounds good to me.

[2020-04-20 08:07] l-emele commented on #337
A simple [Aristotelian definition](https://github.com/OpenEnergyPlatform/ontology/wiki/Principles-for-Definitions) would be: _A grid model is a model of a grid._

I see then two dimension to further differentiate grid models:
* by technology (electricity, gas, ...)
* by mathematical method (transshipment, AC, ...)

E.g. _An electricity transshipment model is a grid model that applies the transship

[2020-04-20 08:08] stap-m commented on #337
Here is an issue #180 about the general **model** def and class. Could you take a look please @wingechr @l-emele  @han-f ?

[2020-04-20 08:14] han-f commented on #338
I link this to #180 since we have the definition for model there and it seems to imply dynamics already. Possibly we may want to consider that a model could also be static?

[2020-04-20 08:18] l-emele commented on #314
Is the for _selling or self consumption_ part needed? _A producer is an agent that makes goods_ is more generic. In my view someone who produced something but does not sell something is still a producer.

A relevant example in energy modeling: There are people who own a small rooftop PV system and generate (produce) electricity for own consumption and do not sell the electricity to someone else. I

[2020-04-20 08:19] l-emele commented on #314
Btw, do we have a proper definition of _good_? Are electricity and heat goods?

[2020-04-20 08:28] wingechr commented on #337
Possible definition for grid (independent of if it's electricity or not):

[2020-04-20 08:31] l-emele commented on #338
What do you mean in this context by _static_ and _dynamic_?

[2020-04-20 08:35] han-f commented on #338
Here are some thoughts on static models:
* A statue carved from stone is a static representation of something and could be considered a model.
* I could use software to draw an anatomical model of a foot. The result would be a static representation of the features of a foot.

[2020-04-20 08:37] stap-m commented on #337
The current Aristotelian def for grid is: *A grid is an object aggregate of systematically connected artificial objects that can work as a supply system.* Do you think this needs a rework @wingechr?

[2020-04-20 08:41] l-emele commented on #338
These examples are not models according to our current definition of a model: _A model is a generically dependent continuant that is used for computing the behavior of a system using an idealized representation._

[2020-04-20 08:43] stap-m commented on #337
We could leave *grid model* out and directly define *transshipment model* and others as subclasses of model, at least for the moment. If we find that we need more hirarchy, we could still include it later.

The def proposed by @l-emele sounds good to me. It could be adapted accordingly.

[2020-04-20 08:51] han-f commented on #338
Yes, I know, with the above comments I meant to ask whether we may want to make the model definition more generic to allow for the possibilities of static models.
For example: If I depict the nodes of an electricity grid (taking aside that the grid may develop over time) - would this not be a static model representation of the "real" electricity grid? And this model of the electricity grid could s

[2020-04-20 08:56] l-emele commented on #338
A grid model is more than just the nodes, it has also the links between the nodes. And while the nodes might be static in the sense that there  are no additions or deletions of nodes the power flows between the nodes are changing over time.

[2020-04-20 08:58] l-emele commented on #338
Back to the original purpose of this issues. What about the following definition:
_A modeling software is a software used to create a (mathematical) model._

[2020-04-20 09:06] stap-m commented on #180
Based on the discussion in #338 we could also adapt the def like that:
*A model is a generically dependent continuant that is used for computing an idealized reproduction of a system and its possible behaviours.*

Our current def proposals are obviously tailored for *energy system modelling* and are not a generic definition. In my opinion this is ok. What do you think @jannahastings?

[2020-04-20 09:10] akleinau commented on #254
maybe add the "same time" component?
CollaborativeProgramming is the process of two or more people working on program code together at the same time (according to a specified routine).

[2020-04-20 09:11] l-emele commented on #180
I am fine with that definition, I would only delete the word _possible_ as it seems not necessary to me.

[2020-04-20 09:13] l-emele commented on #338
I suggest to do the discussion on the class model itself in issue #180 and not here.

[2020-04-20 09:13] han-f commented on #254
I like the idea - I think that it does not need to be exactly the same time though. So we could collaboratively develop code over the whole time-span it needs for the code to be done, but this does not entail that we work in parallel at the exact same time.?

[2020-04-20 09:15] akleinau commented on #337
this is related to #36 where grid is discussed

[2020-04-20 10:39] l-emele commented on #263
Some proposals for definitions:
* _**Ammonia** is a portion of matter with the chemical formula NH3. It is a gas and can act as an air pollutant. Synonyms are trihydridonitrogen and nitrogen trihydride._
* _**Carbon monoxide** is a portion of matter with the chemical formula CO. It is a gas and can act as an air pollutant._
* _**Nitrogen oxide** is a portion of matter consisting of compounds of ni

[2020-04-20 10:41] stap-m commented on #302
Sorry, I also wanted to assign @litotes18 who presented the issue on the 5th oeo dev meeting. Somehow, this doesn't work. Is he not part of the team yet?
Should someone else from LOD be assigned?

[2020-04-20 12:12] l-emele commented on #304
I agree, too.

[2020-04-20 12:16] akleinau commented on #263
we have 'air pollution' now as a process.
So I agree that they should be subclasses of 'portion of matter'.
To show the relation to the 'air pollution' process we can use the 'participates in' relation:
'a relation between a continuant and a process, in which the continuant is somehow involved in the process'

this process has two subprocesses, 'input of' and 'output of' so 'output of' would be ev

[2020-04-20 12:19] akleinau commented on #304
I deleted them now

[2020-04-20 12:20] akleinau commented on #304
requirement_specification has just two issues, one of them being this one, so delete that one?

[2020-04-20 12:23] akleinau commented on #254
I'm not sure if there's a uniform opinion of what collaborative programming is and I can't find definitions etc on the internet.

So maybe we can delete that term and use others with more concrete definitions like 'pair programming' instead?

Why do we need that class anyway?

[2020-04-20 12:30] akleinau commented on #338
I like that definition because it allows the model definition to change without having to change the 'modeling software' definition.
Maybe also include not just creating but also maintaining etc of the model? Or is a model fixed once it was created and new data creates a new model?
_A modeling software is a software used to create and maintain a (mathematical) model._

[2020-04-20 12:32] akleinau commented on #328
I'll implement :)

[2020-04-20 12:33] l-emele commented on #263
Sounds okay, and I do not have a better idea.

@stap-m @jannahastings : What do you think?

[2020-04-20 12:35] akleinau commented on #304
done

[2020-04-20 12:36] akleinau commented on #304
I deleted requirement_specification now.

Anything else to change with the labels, any recolor-ideas maybe?

[2020-04-20 12:39] l-emele commented on #338
In the end that detail depends on the exact definition of `model`.

But I think your definition (_A modeling software is a software used to create and maintain a (mathematical) model._) is fine anyway.

Shall I implement it like that?

[2020-04-20 12:42] l-emele commented on #304
I think we could delete the _ontology_ label. Everything issue in this repo should be somehow related to ontologies as it is the onotology repo. 😃

[2020-04-20 12:43] l-emele commented on #304
Additionally: The label _extern ontology_ should be renamed to _extern**al** ontology_.

[2020-04-20 12:46] akleinau commented on #304
that makes enough sense that I spared the discussion part and deleted it.
I renamed too like you proposed.

[2020-04-20 12:51] akleinau commented on #338
that's fine by me

[2020-04-20 12:56] akleinau commented on #337
with "leave out" you mean delete?
Then this would be:
_An electricity transshipment model is a model that applies the transshipment problem to the electricity grid._

The only other subclass is "single node model" which would then be: "A single node model is a model where a region is represented as a single node."
Is that def still correct with "model" instead of "grid model"?

[2020-04-20 12:59] akleinau commented on #336
@l-emele, @stap-m does anything speak against deleting (or at least leaving out) validation, robustness and uncertainty for the first release?

[2020-04-20 13:01] akleinau commented on #298
there's jsut the handle of Lara Christmann missing which shouldn't hurt that much as she wasn't and isn't active in the ontology implementation, so can we close this issue?

[2020-04-20 13:02] #328 closed

[2020-04-20 13:19] akleinau commented on #314
no but we have an issue to include economic goods #340.

[2020-04-20 13:27] akleinau commented on #314
so in conclusion:

- **producer:** "an agent that makes goods"

- **organisational energy producer:** "a producer that undertakes generating electricity and/or heat."
- **"main activity energy producer":** "An organisational energy producer whose primary activity is energy or heat production."
Comment: They may be privately or publicly owned. Note that the sale need not take place through the publ

[2020-04-20 13:29] akleinau commented on #314
I don't see many advantages of either implementing it as a subclass of producer or organisation.
Maybe that as a subclass of producer it allows auto energy producers to be direct subclass of the organisation fitting to their primary activity and to just have 'auto energy producer' as a role?

[2020-04-20 13:31] jannahastings commented on #314
Two small changes:

Just a minor point, maybe change to "a producer that undertakes the generation of electricity and/or heat"

I think this should be  named *energy autoproducer* as per @Vera-IER's comment above.

[2020-04-20 13:32] akleinau commented on #314
I changed my comment :)

[2020-04-20 13:32] jannahastings commented on #314
My thinking was that the definition of agent is as a role, and in this case it is the organisation that has the role, so "organisational energy producer" should be defined as a child of organisation and has_role producer

[2020-04-20 13:43] akleinau commented on #318
@jannahastings do you have an idea what to do with 'interface'?

[2020-04-20 13:50] akleinau commented on #77
So:
**EnergyProduction:** a transformation which transforms an energy carrier from its natural state to the first technically usable state.

subclasses:
- solar photovoltaic (delete?)
- tide wave ocean
- nuclear energy production: rename to nuclear energy transformation
  - fission
  - fusion

[2020-04-21 06:11] stap-m commented on #337
Yes, I mean delete *grid model* for the moment.
I am just wondering why we don't have a class *energy system model* 😮

[2020-04-21 06:26] stap-m commented on #314
Two points:
* How would these people with small rooftop PV systems be classified? They are *energy autoproducers* but are not organisational.
* If we made *organisational energy producer* a subclass of *organisation*, we should call them *energy producing organisation* instead?!

[2020-04-21 06:34] jannahastings commented on #263
I think just 'participates in' rather than 'output of': Pollution is defined as *an emission*, so air pollution is the process of emission of these pollutants. Since they are pollutants all the time they stay in the air, their relationship to the 'air pollution' process is ongoing, I think, so 'participates in'.

Also, note that among the we have a 'has pollutant' object property that currently ha

[2020-04-21 06:34] stap-m commented on #254
I am ok with deletion.

[2020-04-21 06:39] stap-m commented on #304
What about the deletion of 'Time-L.' and 'Urgency-S'? I'd prefer a label 'high urgency' or something like that.

[2020-04-21 06:43] l-emele commented on #304
Those are SzenarienDB project wide labels from the requirements analysis. If we change it for the ontology repo we should also change these in the other repos.

[2020-04-21 06:47] stap-m commented on #304
What about
* 1 colour (or three similar colours) to all issue type labels
* 1 colour (or three similar colours) to all oeo-subontologies?
Something bright, because they are important?

[2020-04-21 06:49] l-emele commented on #337
Yes, a single node model does not represent a grid so it is not a grid model but a model.

[2020-04-21 06:50] l-emele commented on #304
I like the idea of similar colours.

[2020-04-21 06:51] stap-m commented on #336
Not from my side.

[2020-04-21 07:18] Vera-IER commented on #314
The ones having a small rooftop PV system also need to be registerd with a trade license, so they are also tiny business organisations. This is true for Germany, I don't know how it works in other countries. We call them prosumers, but I think we don't need this new term in the ontology, because it is a special subclass of autoproducers.

[2020-04-21 07:41] l-emele commented on #336
Not from my side, either.

[2020-04-21 07:58] han-f commented on #254
I would be ok with deletion also, but:

I think we want to show that the development of energy system models can happen in a collaborative manner by developing code together, not necessarily via pair-programming but as a joint effort.

Maybe @Ludee  should get us up to speed with how to deal with this?

[2020-04-21 08:06] jannahastings commented on #180
I agree with @l-emele, the definition looks good and will be fine without the word 'possible'

[2020-04-21 08:10] stap-m commented on #180
Ok, then I'll implement the changes.

[2020-04-21 08:12] jannahastings commented on #318
To my reading, "interface" is the only one that makes sense as a "software element" if "software element" would be defined as "part of a software application". But perhaps we can rename "interface" to "software interface", move it to just beneath "software", and define it as "Software that enables an agent to interact with it"

[2020-04-21 09:13] stap-m commented on #314
We have *prosumer* in the oeo:
*A prosumer is an agent who is producer and consumer at the same time.*

The def of organisation, as it is right now, refers to **multiple persons**, though: *An organization is a structure with **multiple people** that has a collective goal.*

[2020-04-21 10:01] akleinau commented on #304
I changed to:
- green shades for issue types
- blue shades for ontology modules
- purple for themes
- yellow to red for the rest
- I left the ScenarienDB project labels  as they were

[2020-04-21 10:03] akleinau commented on #263
I agree

[2020-04-21 10:05] akleinau commented on #337
what would be a definition? "An energy system model is a model that models an energy system"?

[2020-04-21 10:18] akleinau commented on #318
that sounds like the best solution, I'll implement the changes.

[2020-04-21 10:30] akleinau commented on #314
can an organisation be a structure with just one person?
That def is not aristotelean btw, we should fix that:
" An organization is a generically dependent continuant ..."

[2020-04-21 10:31] akleinau commented on #319
@jannahastings what do you think of my def?

[2020-04-21 10:44] #180 closed

[2020-04-21 10:49] jannahastings commented on #319
Sounds good to me! Just a small change (to _electronic_):

*** Hardware ***: An artificial object that is part of an electronic system.

[2020-04-21 10:51] akleinau commented on #319
ok I'll implement

[2020-04-21 10:56] #318 closed

[2020-04-21 11:28] #303 closed

[2020-04-21 11:29] #336 closed

[2020-04-21 13:53] #338 closed

[2020-04-22 05:52] akleinau commented on #255
this would be three nice defined subclasses:
- **gaseous portion of matter:** "portion of matter its normal state of matter being gaseus"
       - defined as: "'portion of matter' and 'has normal state of matter' gaseous"

same structure for liquid, solid.

So, shall I implement?

[2020-04-22 05:56] akleinau commented on #254
so we leave it out vor now and decide how to deal with it in the next milestone when we maybe have more infos and a stronger focus on oeo-model?

[2020-04-22 06:03] akleinau commented on #66
ok I'll delete them for now

[2020-04-22 06:36] akleinau opened #352 "Mathematical concept has no definition"
## Description of the issue

The class mathematical concept has no definition. It has individuals like "agent based programming", "linear programming", "fuzzy logic".

## Ideas of solution

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [ ] I already read the **latest** version of the [workflow](https://github.com/OpenEnergyPlatform/onto

[2020-04-22 06:38] akleinau commented on #82
I made an own issue for mathematical concept, #352.

@l-emele, @stap-m what do you think of the proposed definitions of @jannahastings?

[2020-04-22 07:25] akleinau commented on #263
@l-emele I think this can be implemented? Do you want to do it?

[2020-04-22 07:38] l-emele commented on #263
I'll do it.

[2020-04-22 08:55] akleinau commented on #66
so next steps:
- delete unused properties with definitions that have no use
- see if used properties can be replaced by extern ro-properties
- see if an own module for our properties makes sense

[2020-04-22 08:58] jannahastings commented on #352
I don't think the individuals of this class are really mathematical concepts. With the exception of "fuzzy logic", they are mathematical modelling approaches. As such, this class should be classified beneath "model descriptor" (#82).

Is fuzzy logic used often in energy systems modelling? What about other logic-based models?

[2020-04-22 09:03] akleinau commented on #66
I want to delete:
- "is_equivalent_to": if it's equivalent it shouln't be split into two classes?
- "uses_dataset": definition: "A relation that holds between a transformation and a dataset it uses as input."
so we should use "has input" of the ro instead

[2020-04-22 09:06] akleinau commented on #66
- "makes_assumption": we have a class "Assumption" so we can use 'has part' (some assumption) of the ro instead
- maybe covers_region, covers_technology and covers_timeframe because they can be replaced with has_part or has_resolution, etc?

[2020-04-22 09:07] jannahastings commented on #66
Sounds good to me! For the "is equivalent to" there are built-in relations such as owl:sameAs if needed in an RDF triple store.

[2020-04-22 09:22] jannahastings commented on #66
This one is tricky. The assumption class gives mainly (only?) political / social assumptions as examples. And the relation definition refers to an assumption that is needed for the execution of a "transformation".  It is difficult for me to imagine the sorts of transformations that are meant. Don't assumptions apply to whole models, or modelling processes, rather than just transformations? Either

[2020-04-22 09:32] akleinau commented on #66
I'm not sure about the "has ..." classes:
- has_author: we have a class author but if we use 'has part' instead and assign a person with the role author this doesn't guarantee that person is actually the author of this specific thing
-  has_client
-  has_contact
- has_funding_source
- has_institution
- has_progamvariable: I guess that can be replaced by 'has part' some variable?
- has_tool: we hav

[2020-04-22 10:11] l-emele commented on #66
Maybe we should discuss assumption first? The current definition is rather weird: _An assumption is a statement about a property of a system or process that is considered to be true._
To me an assumption does not have to be _true_ as you often have scenarios (e.g. business-as-usual scenarios) where you use counterfactual assumptions.

[2020-04-22 11:13] stap-m commented on #255
Sounds good.

[2020-04-22 11:18] stap-m commented on #246
Shouldn't funding be part of oeo-social istead of oeo-model?
Classify as process?

[2020-04-22 11:18] stap-m commented on #246
Also a term to leave out for the release?

[2020-04-22 11:22] stap-m commented on #244
I propose to delete this class now. Let's discuss a suitable concept after the release.

[2020-04-22 11:37] stap-m commented on #337
Maybe "An energy system model is a model that *represents* an energy system"?

[2020-04-22 12:31] l-emele commented on #337
Even more simple would be: _An energy system model is a model of an energy system._

[2020-04-22 12:32] l-emele commented on #244
I agree.

[2020-04-22 12:41] akleinau commented on #66
I guess we should open an issue for assumptions, I'll make one :)

[2020-04-22 12:44] akleinau opened #353 "the definition of Assumption should be updated"
## Description of the issue

Assumption is defined as:  "An assumption is a statement about a property of a system or process that is considered to be true."
Which is first of all not aristotelean.
Classified as information content entity.

@jannahastings wrote:

@l-emele wrote:

To me an assumption does not have to be true as you often have scenarios (e.g. business-as-usual scenarios) where you u

[2020-04-22 12:45] akleinau commented on #353
hmm, first milestone?

[2020-04-22 13:15] akleinau commented on #246
yes I agree

[2020-04-22 13:17] akleinau commented on #337
simple is always good :)

[2020-04-22 15:36] l-emele commented on #263
I am not sure about `some` and `value`. How do I use it correctly?
* `'participates in' some pollution`
* `'participates in' value pollution`

[2020-04-22 15:54] jannahastings commented on #263
'some' is for when the target is a _class_.
'value' is for when the target is an _individual_.

So in the pollution case you would use 'some'.

[2020-04-23 06:37] stap-m commented on #337
Nice, let's go with that.

[2020-04-23 07:18] akleinau commented on #337
I'll implement

[2020-04-23 07:18] #255 closed

[2020-04-23 07:25] l-emele commented on #135
In the current dev, the class `manufactured coal based gas` is a direct subclass of portion of matter and has the property `has_normal_state_of_matter value gaseous`.

I proposed in this issue a _FuelClassificationConcept_ but I think we currently do not need that.

So I think this issue can be closed. Do you agree, @stap-m and @akleinau ?

[2020-04-23 10:19] stap-m commented on #135
I agree.

[2020-04-23 10:19] #135 closed

[2020-04-23 13:05] #337 closed

[2020-04-24 05:14] akleinau commented on #314
Most definitions that I read an organisation had to be multiple people.
So do we implement the organisational energy producer now instead as a producer to include those small rooftop PV system owners?

[2020-04-24 05:18] akleinau commented on #247
notes from the 5th dev meeting:
- There is the process and an object describing the process at the end. What do we need? We see both as Occurents
- to avoid ambiguity between the 'study' process and the 'study' report we can call the latter 'study report'
- We have report imported already as document, therefore study is not needed?
- study as a synonym for report?

[2020-04-24 05:24] akleinau commented on #247
- Project: "A process to achieve a specified goal that's unique in the sum of it's conditions like it's goal, time and cost budget and it's organisation." ?

[2020-04-24 05:26] akleinau commented on #245
or delete? I'm not sure

[2020-04-24 07:00] jannahastings commented on #314
An organisation can definitely consist of just one person, even though they _typically_ have more. For example, you can start a business by yourself :-). As per comment above, even small rooftop energy producers have to be registered and have a license, giving them organisational paperwork. So we should fix the definition of organisation.

[2020-04-24 07:04] jannahastings commented on #314
OBI defines 'organisation' as follows:

_An entity that can bear roles, has members, and has a set of organization rules. Members of organizations are either organizations themselves or individual people. Members can bear specific organization member roles that are determined in the organization rules. The organization rules also determine how decisions are made on behalf of the organization by th

[2020-04-24 07:38] l-emele commented on #134
I think this can be implemented. I'll do that.

[2020-04-24 08:37] christian-rli commented on #313
Translation was done. @Ludee, please specify what exactly needs to be added to the description for this issue to be closed.

[2020-04-24 09:41] litotes18 commented on #302
Hi, I am happy to discuss these issues here. I guess I am the only one in Lod interested in markets.
Sorry for the late reply, but I am on leave until May 1st. Then I will be more active again. Sorry for posting this here, but I do not have your email adresses, and I do not want to mail @notifications...
Thanks!

[2020-04-24 14:06] stap-m commented on #313
I took a look on the *OEO Steering Committee* wiki page:
The part on *Was ist eine Ontologie? Was ist die Open Energy Ontology (OEO)?* and *Wie kann ich mich an aktuellen und zukünftigen Arbeiten beteiligen? Wen kann ich ansprechen?* are obviously not right in this place...
Maybe a link to the README.md would be nice? I think there can be found these kind of information - or should be.

[2020-04-24 14:45] stap-m commented on #36
**Grid/ supply grid:** I guess all the grids concerning energy system modelling are supply grids. @l-emele what do you think? Along with electricity grid, we'd need gas grid and (district) heating grid. Anything else? I could go with both terms, grid or supply grid.

**grid component link**: The def of @jannahastings sounds good to me. The technology specific types of links (power line #18, gas pi

[2020-04-27 13:49] akleinau commented on #314
ok we wanted to make Organisation a role (#301, 5. dev meeting).
I proposed there: _"An organisation is a roal depending on a society that has a collective goal."_
This could be extended, inspired by OBI, to:
_"An organisation is a roal depending on a society that has a collective goal and a set of organization rules."_

[2020-04-27 15:03] akleinau commented on #261
https://github.com/OpenEnergyPlatform/ontology/wiki/mass-nouns
@stap-m can you check?

[2020-04-27 15:12] stap-m commented on #261
Looks good, thanks. I added some minor changes, and the title is now "Explanation on mass nouns".

[2020-04-27 15:13] stap-m commented on #314
The extended def sounds good to me.

[2020-04-27 15:43] Vera-IER commented on #314
sounds also good to me. I think there is a tiny misspelling: roal = role?

[2020-04-27 15:56] akleinau commented on #314
oh yes I fixed it

[2020-04-28 08:02] stap-m opened #361 "Restructure subclasses of electricity grid"
## Description of the issue
Electricity grid has 2 subclasses:
* micro grid -> def is not Aristotelian
* sub grid with 1 subclass: micro grid --> monohierarchy is hurt

related to #36

## Ideas of solution
Delete subclasses regarding the upcoming release. Keep this issue open and discuss potential subclasses and the terms *micro grid* and *sub grid* afterwards.

## Workflow checklist

- [ ] I disc

[2020-04-28 09:10] #261 closed

[2020-04-28 10:59] christian-rli commented on #353
Maybe the term Assumption is ambiguous. Would Premise be any better?

[2020-04-28 14:07] stap-m commented on #224
From the 6th oeo developer meeting:

Classify Energy as *Quality*
Definition: *Energy is a quality of matter or radiation which is manifest as a capacity to perform work (such as causing mothion or the interaction of molecules).*
Additional comment: *Energy is power integrated over time*

Todo: Add class *radiation*

[2020-04-28 14:11] stap-m commented on #79
From the 6th oeo developer meeting:

* See new class and def for *energy* in #224
* Power def: *Power is the quantity that represents the amount of energy transformed per time unit*

[2020-04-28 14:24] stap-m commented on #77
From the 6th oeo developer meeting:

* Energy production is renamed as *energy transformation*
* classification: process
* Def: *Energy transformation is a process in which a certain type of energy as input results in one or more other types of energy as output.*

[2020-04-28 14:36] stap-m opened #362 "Add class 'radiation'"
## Description of the issue
From the 6th oeo developer meeting.

Find classification for radiation ("It is not a subclass of energy, but what would the respective subclass of energy be called?") and definition.

Related to #224 and solar issues

## Ideas of solution

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [ ] I already read the *

[2020-04-28 15:14] akleinau opened #363 "quantity subclasses should get included"
## Description of the issue

They are so diverse that it's best to leave them out first and consider each one of them in a later release.

## Ideas of solution

delete them for now

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [ ] I already read the **latest** version of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blo

[2020-04-28 18:27] stap-m commented on #363
*Power* is also a quantity and just got a fresh definition #79. Do you also want to leave this class out?

[2020-04-28 19:01] stap-m commented on #224
I opened a draft PR and added the reworked classification of energy.
How do we proceed with the subclasses?

[2020-04-28 19:08] stap-m commented on #77
Delete the subclasses temporarily and rework them after the release?

[2020-04-29 06:05] stap-m commented on #43
How do we proceed here regarding the release? Temporarily delete all classes that are not fairly defined and reinclude them when we've discussed the "water" issues?

[2020-04-29 06:32] Vera-IER commented on #320
I thought about this capacity issue again after our talk yesterday. I think capacity is a term which has nothing to do with energy, if its not put into a enery system context. For example a cinema has the capacity to host 100 people. A definition of capacity could be something like (its not aristotalian):

For the oeo I would always put a word in front of capacity. For exapmle "power capacity" for

[2020-04-29 06:45] stap-m commented on #82
For model description we have the model factsheets, that are not yet included in the oeo, though.
So I guess, we have 2 options:
* Delete the *content descriptor* structure and implement the factshees from scratch.
* Keep it until we rework the factsheets and implement now the suggestions by @jannahastings.

[2020-04-29 06:52] stap-m commented on #231
I think, all of them should be subclasses of *electricity grid component*. We should do this together with #18

And *electricity grid component* should be an artificial object itself.

[2020-04-29 07:24] l-emele commented on #77
An energy transformation can have more than one inputs, e.g. in a heat pump you have electricity and low temperature heat as input and high temperature heat as output.

[2020-04-29 07:28] l-emele commented on #353
To me the word _premise_ is even more ambiguous.

[2020-04-29 07:36] stap-m commented on #77
Good point.
*Energy transformation is a process in which **one ore more certain types** of energy as input result in other types of energy as output.*?

[2020-04-29 08:11] akleinau opened #365 "the residential demand individuals should be deleted"
## Description of the issue

They are: heat, light, cooking. Heat is also a double of the class "heat". I don't think they are helpful so propose to delete them

## Ideas of solution

delete them

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [ ] I already read the **latest** version of the [workflow](https://github.com/OpenEnergyPlatfo

[2020-04-29 08:13] stap-m commented on #224
Sorry, by merging the PR this issue got closed. The question of energy subclasses is still open.

[2020-04-29 08:29] akleinau commented on #363
no, that would be sad

[2020-04-29 08:30] stap-m commented on #353
Assumption is an essential part of scenario description. What about "An assumption is an information content entity determining a part of possible reality in a certain scenario."

Anyway, I'd say this is not necessarily part of the first release.

[2020-04-29 08:35] han-f commented on #77
Maybe:
Energy transformation is a process in which one ore more certain types of energy as input result in one or more other types of energy as output?

[2020-04-29 08:41] stap-m commented on #77
A was just wondering if the complete transformation from one type of energy into one other type (i.e. without losses, which can be seen as "other types") is an idealized transformation. At least for the domain for our domain..

[2020-04-29 08:49] stap-m commented on #224
What about
* keeping 'ChemicalEnergy' and 'ElectricalEnergy' as subclasses
* adding 'KineticEnergy', PotentialEnergy', 'ThermalEnergy'
* dropping the other subclasses and discussing them after the release

[2020-04-29 09:24] han-f commented on #224
That would mean to basically keep those that relate to A)  and discuss the ones in B) after the release?
Sounds like a good approach to me.

[2020-04-29 09:30] han-f commented on #77
I was interpreting other type simply as being of a different nature than the input. In this case this would also work for a "complete transformation". However, do transformations without losses exist? (I gathered that transfers of energy could occur without losses in principle but also transformations? Wouldn't that be equal to a conversion factor equal to 1?)

[2020-04-29 09:38] l-emele commented on #77
An energy transformation can also be from one kind of energy to the same kind of energy. One example is a (electric) [transformer](https://en.wikipedia.org/wiki/Transformer) which transforms electric energy with voltage A to electric energy with voltage B.

Transformations to heat can be almost ideal with a efficiency of almost 100%. I am not sure whether processes exist that have exactly 100%. Th

[2020-04-29 10:34] l-emele commented on #353
I would leave out words like _true_ or _reality_ in the context of scenarios as scenarios are not predictions.

What about: _An assumption is an information content entity determining a part of possible **development** in a certain scenario._

I am okay with the idea of leaving the definition out for the first release.

[2020-04-29 11:09] akleinau commented on #43
yes sounds reasonable

[2020-04-29 11:49] akleinau commented on #231
ok #18 wants to include:
- Powerline
   - DC above ground and underground
   - AC by voltage (?)
- switchyard

I'll close #18 then and we discuss them here

[2020-04-29 11:49] #18 closed

[2020-04-29 12:05] l-emele commented on #231
"AC by voltage": I think it is meant that there different voltage levels in AC power lines, e.g.
* AC line with 380 kV
* AC line with 220 kV
* AC line with 110 kV

So the nominal voltages are properties of the power lines.

[2020-04-29 12:12] akleinau commented on #231
ok, AC, DC and Powerline also have defs already and are implemented as fiat object parts:

**power line**: "An uninterrupted transmission system between two nodes in the electric grid."
- subclass of link

**AC-Line:** "Alternating current high voltage transmission line. Can comprise multiple cables and multiple circuits.
Generally, flows in the model can not be controlled but are a function of th

[2020-04-29 12:13] akleinau commented on #231
any ideas for switchyard?

[2020-04-29 13:04] akleinau commented on #361
Yes I agree and will make a pull request

[2020-04-29 13:20] #263 closed

[2020-04-29 13:44] akleinau commented on #43
I propose to delete:
- tide wave ocean
- tide
- flow
- wave

[2020-04-29 13:45] l-emele commented on #43
I am fine with deleting these,

[2020-04-29 13:48] akleinau commented on #91
@han-f with you being back this would be a good time to address this.
Right now we have "greenhouse gas emission" as subclass of emission.

This means we implement the process and then use the "participates in" relation.
It's generally better to have less relations and instead more classes.

[2020-04-29 14:26] l-emele commented on #91
I think, for the moment we don't need the `has_enivronmental_effect` anymore. If I recall correctly, we came in the end to the conclusion that (almost?) every human activity has an environmental effect.

Instead we have now air pollutants that participate in air pollution and greenhouse gases that have the disposition to contribute to the greenhouse effect. I currently do not see need for somethin

[2020-04-30 02:02] stap-m commented on #43
I remove the milestone accordingly.

[2020-04-30 02:33] stap-m commented on #224
What about the current definitions?

This reads good to me: ***Chemical energy** is energy that is stored in the chemical bonds of a substance, which can be released by a chemical reaction.*

***Electrical energy** is energy derived from electric potential energy or kinetic energy. [...] This energy is supplied by the combination of electric current and electric potential that is delivered by an e

[2020-04-30 03:00] stap-m commented on #77
A transformer also has losses, so strictly speaking: there is more than one output and thus, the transformed current from voltage A to voltage B doesn't stay the same. But I see that the word *other* in the def is ambiguous, as well as *type of energy* (which btw is also part of the def of energy converting device).

*Energy transformation is a process in which one ore more certain types of energy

[2020-04-30 04:41] han-f commented on #91
I am ok with the suggestion @l-emele made.

[2020-04-30 05:30] han-f commented on #365
I think the individuals can be deleted.

[2020-04-30 05:36] han-f commented on #365
Another thought (do we have a better ticket where we could discuss this?):  From an economic perspective a consumer could express a demand for something (e.g. 5 units electricity). However, it may be that the demand cannot be met completely and the consumer received only 3 units of electricity. Then her/his consumption of electricity would be 3 units, while her/his demand were 5 units.
What I am p

[2020-04-30 05:40] han-f commented on #363
I had a general remark on quantity in #365 that would support the suggestion of @akleinau at least for a few subclasses. I targeted at thinking a bit further about the demand subclass (demand vs. consumption and relation to oeo-social).  Should we discuss which ones to keep for first release and which ones to tackle later?

[2020-04-30 05:40] #91 closed

[2020-04-30 05:52] stap-m commented on #363
We planned to rework everything related to demand for the 2nd release and leave it out now.

[2020-04-30 06:00] han-f commented on #352
I agree with @jannahastings but I cannot say so much about fuzzy logic in energy systems modelling. Would possible solution also include: keeping "mathematical concept" as a class, but empty it of its individuals and add these to a new class (e.g. "mathematical modelling approach") under "model descriptor"?
Then we could need to find a new definition of "mathematical concept" in case we actually n

[2020-04-30 06:27] akleinau commented on #314
@Vera-IER do you want to implement or shall I do it?

[2020-04-30 06:29] akleinau commented on #365
I'll remember your comment for when we discuss

I'll remember your comment for when we discuss demand and consumption, you are right, that has to be reworked.

[2020-04-30 06:36] akleinau commented on #243
emission value can't be found and emission factor got deleted in #368 (as it's a quantity) so this can get moved to the second release

[2020-04-30 06:48] #365 closed

[2020-04-30 06:49] l-emele commented on #224
The current definition of electrical energy is just a copy from Wikipedia but not useful as it defines in itself, but only as a result of a transformation process from something else.

Some better definions I found as start for discussion:
* _Electrical energy is energy that's stored in charged particles within an electric field._ [(source)](https://study.com/academy/lesson/what-is-electric-energy

[2020-04-30 06:50] #298 closed

[2020-04-30 06:51] Vera-IER commented on #314
Can you do it and I try to learn from you by following the review process?

[2020-04-30 06:53] stap-m commented on #320
We could start by defining such a generic term, like it was explained by @Vera-IER . And I'd agree that capacity in this sense is a maximum value.
@jannahastings what kind of classification could fit here? Quantity, quality?

In a second stept we could distinguish after (groups of) technology: what is usually meant by capacity in this context?, like @0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q did, and find/

[2020-04-30 06:59] stap-m commented on #77
Nice. If you agree on deleting the subclasses, I'd start implementing.

[2020-04-30 07:51] #329 closed

[2020-04-30 07:55] akleinau commented on #205
so the idea where we left of was:
change quantity to quantity value:
**quantity value:** "A quantity value is an immaterial entity defined by a numeral together with a unit of measurement to quantify an entity."

use for the rest the already imported classes:
unit of measurement : "A unit of measurement is a standardized quantity of a physical quality."
numeral: "A symbol that denotes a number."

[2020-04-30 10:09] #79 closed

[2020-04-30 13:02] Vera-IER opened #372 "include subclasses of energy transformation"
## Description of the issue

We need some subclasses of "energy transformation". @stap-m deleted the existing subclasses of "energy production" (which is now "energy transformation"), see issue #77. We thought it would be good to discuss the subclasses from scratch and maybe take some old definitions.

## Ideas of solution

I would define the subclass processes of energy transformation as a transf

[2020-04-30 18:14] Ludee commented on #313
It should be split in the two pages. I copied the OEO-SC part here:
https://github.com/OpenEnergyPlatform/oeplatform/pull/605

[2020-05-04 05:40] akleinau commented on #36
I think it would be more consistent if we make grid component classes for all grids or just for the superclass grid instead of just electricity grid.
Making grid component classes for all grids would be nice to see e.g. all the electricity grid classes together

[2020-05-04 05:45] akleinau commented on #82
Are these definitions and concepts intuitive for domain experts or used also in other contexts than these model factsheets?

[2020-05-04 05:52] akleinau commented on #205
maybe a "quantity concept" class (name can be discussed) would actually be helpful.
Then we could have power as a quantity concept which is in some way related or instanciated or implemented by the "power unit" unit of measurement.

I'm reluctant to just call that class "quantity" because the "unit of measurement" class refers to quantity in it's def and I''m not sure if that would be consistent w

[2020-05-04 05:59] akleinau opened #374 "move ID list into the ontology"
## Description of the issue

The ID list should be at a more obvious place

## Ideas of solution

Move the ID list for the numerical identifiers (https://github.com/OpenEnergyPlatform/ontology/wiki/Numerical-Identifiers) into the ontology by writing the ID next to the dc:contributor.
As discussed in the 6. dev meeeting.
Afterwards delete it from the wiki to avoid having two lists.

## Workflow che

[2020-05-04 06:02] akleinau commented on #374
what bothers me with this solution is that the contributors are sorted alphabetically right now, if we put the ID at the end of each contributor name the ID list will be unsorted and it will be hard for new people to find out which id's are still free.
This could be solved by putting them at the beginning of each name? Than the contributors would be sorted by their ID?

[2020-05-04 06:11] akleinau commented on #231
this should probably wait for #36

[2020-05-04 06:15] akleinau commented on #247
I don't think study really is a synonym for report.
Not every report is a study, e.g. a damage report would certainly not be called a study.
I'm not sure if every study is a report though? Then it could get a subclass

[2020-05-04 06:30] akleinau commented on #320
In the 6. dev meeting we had the solution of making gross capacity a quality. It depends with all its existence on the object that has the gross capacity (-> specifically dependent continuant) and doesn't has to be initialised (->quality).
I think this is the case for all capacities. So I propose to make capacity a subclass of quality.

[2020-05-04 07:19] jannahastings commented on #320
I agree that capacity should be a subclass of quality, and I absolutely agree that for the OEO we should "always put a word in front of capacity" to disambiguate this rather generic term to be specific to how it would be used in the energy systems context. We could start with 'power capacity'.

[2020-05-04 07:25] akleinau commented on #320
gross capacity was strongly requested at the dev meeting, can we start with that one?
@Vera-IER  already wrote a def:
gross power capacity: the maximum amount a power plant can provide.

[2020-05-04 07:43] jannahastings commented on #205
I actually really don't think we should classify power as a quantity. (Really sorry I am coming to this late and the new power definition (#79) already went in last week.)

The main reason for this is, I don't think having quantity as a parent makes an accurate statement about what sort of thing power is. Quantities (= numbers) are abstract entities and as such they are not the sort of things that

[2020-05-04 08:40] jannahastings commented on #320
I have some questions.

Is power capacity just for power plants? Or generators in general? Also storage devices?

power capacity: A quality that inheres in _what?_ that is an amount of power that it is able to _generate or store?_.

Then a slightly amended definition for 'gross power capacity' that refers to the parent, and also what it is an amount of:

gross power capacity: A power capacity that

[2020-05-04 13:12] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #320
1. "Power Capacity" is a term that makes to most engineers cringe.  "Power" and "capacity" are two very different things, although their names are conflated in everyday language.  I suggest not making the ontology wilfully opaque by using sloppy terms like this.
2. Storage devices have several of those:
    - A capacity determining how much energy they can possibly hold.
    - A power rating for h

[2020-05-04 14:34] Vera-IER commented on #320
How do you like "power generating capacity", "generation capacity", "power station capacity" or "power plant capacity" instead of "power capacity"? I like "power plant capacity" but I am not an english mother tongue speaker.

In a first step I would define capacity only for power plants (excluding storages).

[2020-05-05 07:56] litotes18 commented on #302
I like the definition of institution and the others proposed by @akleinau. The def. of institution as of now in oeo "An institution is an organization that serve a social purpose." is not as precise.

[2020-05-05 07:58] litotes18 commented on #330
I would prefer supplier instead of producer for the reasons mentioned. We also use supply and demand in our model, and in fact in most of the literature these are the two key concepts.

[2020-05-05 08:42] christian-rli commented on #353
I like the beginning of the definition and also think the term "reality" should be avoided. To me development isn't ideal either though. I understand what is meant. The development can be understood as how scenario is characterized over time or how it plays out from one calculating step to another. To me it feels however as though a scenario just _is_ and doesn't develop. But you may convince me o

[2020-05-05 08:52] christian-rli commented on #353
All of these definitions, I just realized, seem to be missing the "assuming" part. This would make the definition quite long, but it may make sense to add something in the similar to "value or cause-effect relationship that is mutable and cannot be precisely determined in advance".

[2020-05-05 09:13] litotes18 opened #376 "`Contracts` and related concepts"
## Description of the issue
Related to issue #256.
Here are some new concepts with preliminary definitions or explanations.

## Ideas of solution

`Contract`: (Legally) binding agreement establishing rights and duties between parties.
`Delivery time`: the amount of time that it takes for goods that have been bought to arrive at the place where they are wanted
`Sender`: the sender is the party who

[2020-05-05 09:30] litotes18 opened #377 "New concepts for trader and markets and preliminary definitions"
## Description of the issue

Here are some new concepts for trader and markets and preliminary definitions.

## Ideas of solution

Markup: A markup is added to the total cost incurred by the producer of a good or service (here electricity producers) in order to cover the costs and/or create a profit. Serves to distinguish power plants in our models.
Conventional trader: Traders are individuals who

[2020-05-05 11:13] jannahastings opened #378 "Class OEO:00000207 (formerly 'heat') is missing a label and definition"
## Description of the issue

The OEO class for  heat is missing all annotations. It previously had a label and a definition but they were removed, likely by accident. I'm not sure if the definition was perhaps removed deliberately as it isn't Aristotelian but I can't find a record of an issue to that effect. Anyway, the label definitely needs to be put back.

## Ideas of solution

Add back the lab

[2020-05-05 11:16] jannahastings opened #379 "We need a pre-merge script that checks that all classes have labels"
## Description of the issue

Since introduction of the alphanumeric identifiers, it is mandatory for each class and individual in the ontology to have a label. This can be automatically checked and it would be helpful if such a check could be run at the time when changes are being merged into the main development branch.

## Ideas of solution

This could potentially be implemented with a combinati

[2020-05-05 11:17] akleinau commented on #378
I deleted an individual heat, maybe this caused the problems

[2020-05-05 11:18] jannahastings commented on #378
Yes that must have been it. No matter, it's a quick fix to add the annotations back.

[2020-05-05 11:32] jannahastings opened #381 "Do we need 'electricity'?"
## Description of the issue

The ontology currently includes no class with the label "electricity". We do have "electrical energy" defined as:

Electrical energy is energy derived from electric potential energy or kinetic energy. [...] This energy is supplied by the combination of electric current and electric potential that is delivered by an electrical circuit.

[definition source Wikipedia]

##

[2020-05-05 11:33] jannahastings commented on #381
@stap-m and @l-emele Any comments?

[2020-05-05 11:39] l-emele commented on #381
In my understanding _electricity_ is a collective term. It comprises etc. _electrical energy_, _electric current_ and _voltage_. [Wikipedia](https://en.wikipedia.org/w/index.php?title=Electricity&oldid=954778782) has a similar view:

So I would not include _electricity_ as a synonym for _electrical energy_.

[2020-05-05 13:04] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #320
It's "[power rating](https://en.wikipedia.org/wiki/Power_rating)".  No capacities.

[2020-05-05 13:38] akleinau commented on #379
I'll try my luck :)

[2020-05-05 13:54] #378 closed

[2020-05-05 14:05] Vera-IER commented on #320
I use the term "power rating" for a single generator for example. For a whole power plant or for a group of power plants, for example all coal power plants togehter, I use the terms "Kraftwerkskapazität" or "Installierte Leistung" in German. Wikipedia translates both terms to "[nameplate capacity](https://en.wikipedia.org/wiki/Nameplate_capacity)".

[2020-05-05 14:37] akleinau opened #383 "module labels should be automatically added to pull requests"
## Description of the issue

I want to add a workflow that should do that

## Workflow checklist

- [ ] I am aware of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) for this repository
- [ ] I added this issue to the Project 'Issues'. If suitable, I add it to further Projects.

[2020-05-05 14:55] #383 closed

[2020-05-05 15:14] stap-m commented on #224
What about: *Electrical energy is [a type of] energy resulting from the flow of electrons/electric charges.*?

What would be the difference to *electric current*, though? This is also related to #381.

[2020-05-05 15:18] akleinau commented on #379
I'm like 70% sure travis and jenkins automation can just be done by owners of a repository?

[2020-05-05 15:30] stap-m commented on #205
@jannahastings I fully agree.
Do we need further discussion on power? Then we should open a seperate issue. Else pull request.

[2020-05-05 15:39] stap-m commented on #36
Ok, I'll start implementing.

[2020-05-05 15:59] stap-m commented on #36
We still have the class *graph* left, without definition. I am going to delete it.

[2020-05-05 20:00] jannahastings commented on #379
Hmmm. Who is the owner of this repository? They could check?

[2020-05-06 10:01] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #320
All valid synonyms.
My point is that there is a fundamental difference between capacities and power ratings *as these terms are defined in a technical context*.  There is no point in deriving both from some arbitrary super-concept.
So implement *some* capacity (whatever it's called, as in "storage capacity of a energy storage device/facility") and implement *some* power (whatever it's called, as i

[2020-05-06 10:47] akleinau commented on #379
@MGlauer and it looked like he already did some stuff with Travis and this ontogy

[2020-05-06 10:54] akleinau commented on #205
This seems to be consens of 4 people now so I'll implement.
I just need a def for process attribute.

[2020-05-06 11:00] akleinau commented on #205
this is the comment, I changed the definition instead: "Power is the process attribute that represents the amount of energy transformed or transferred per time unit."

[2020-05-06 11:27] stap-m commented on #36
It makes sense, that link and node are fiat object parts of a grid.
On the other hand, its current subclasses, e.g. powerline or transformer, should rather be defined as artificial objects/grid components in my opinion.
Could we use the *has_function* property, or something like that, to describe that a powerline is a link (although link is not defined as function)?

[2020-05-06 11:37] akleinau commented on #36
if an object like a powerline is a link than it can be clearly differentiated from the rest of the grid and is therefore no fiat object part. So I think it makes more sense to classify link and node as sth else. Maybe make them roles? A powerline has the role "link" in a grid?

[2020-05-06 11:40] akleinau commented on #36
@jannahastings what do you think?

[2020-05-06 11:41] akleinau commented on #374
As this got decided in the 6. meeting I'll implement now

[2020-05-06 12:04] jannahastings commented on #205
Attributes *are* rather than represent so:

Power: "Power is the process attribute that _is_ the amount of energy transformed or transferred per time unit."

I don't have a good definition for process attribute, but here are some candidate bad ones:

Process attribute: A process profile that describes a process as a whole.
process attribute of: A relation between a process and an attribute that de

[2020-05-06 12:15] Vera-IER commented on #320
Okay, sounds good to me.
So "rated power" would be the new parent class.
But I think the term "gross rated power" dosn't exist. So we would need to define something like "gross generation" and "net generation".  Definitions from wikipedia are:

- Gross generation or gross electric output is the total amount of electricity generated by a power plant over a specific period of time.

- Net generation

[2020-05-06 12:15] akleinau opened #388 "Everything should be automatically added to the project "Issues""
## Description of the issue

Right now it has to be done manually.

## Ideas of solution

- add automation
- update issue templates

## Workflow checklist

- [x] I am aware of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) for this repository
- [x] I added this issue to the Project 'Issues'. If suitable, I add it to further Projects.

[2020-05-06 12:31] akleinau commented on #379
He already has a script that even uses robot so if he changes it a bit we could use one of robots tools like report or verify for it

[2020-05-06 14:54] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #320
Both terms are in the ontology already (`generically dependent continuant` →  `quantity` →  `power` and `specifically dependent continuant` →  `quality` →  `energy`).

I don't think many (or any) models care about gross generation, since that's only relevant for running a power plant.  But @OpenEnergyPlatform/modelling-experts are welcome to object.

As for net generation, [declared net capacity](

[2020-05-07 05:12] stap-m commented on #231
Definition proposals for current subclasses of link: (it would be easiest to update the defs directly in PR #385)
* Powerline:  *an electricity grid component that is an uninterrupted transmission system between two nodes in an electricity grid.*
  * AC Powerline: *A powerline for transferring high voltage alternating current.*
  * HVDC Power line: *A powerline for transferring high voltage direct

[2020-05-07 05:46] stap-m commented on #320
*Gross generation or gross electric output* sounds very much like "full load hours". That would be quite a common parameter.

*Power* is currently being adjusted and classified as process attribute, see #386. Would a class like *declared net capacity / rated power* fit as a process attibute or is it more a quantity value @jannahastings ?

[2020-05-07 06:09] akleinau commented on #320
"gross capacity", now "gross generation", was strongly requested at the 6. ontodev meeting and should be included.

Power will be defined as "the process attribute that is the **amount of energy** transformed or transferred **per time unit.**"

The def of @Vera-IER of gross generation is "Gross generation or gross electric output is the total
 **amount of electricity** generated by a power plant *

[2020-05-07 06:14] akleinau commented on #231
Sounds good, then we make grid component classes for all types of grids? (Your pull request reads as if there will be just the general "grid component" class)

[2020-05-07 06:28] akleinau commented on #352
I like the idea of two separate classes. We don't have a class "model descriptor" though, the referred class is "content descriptor" (which shouldn't be a problem). However this is just possible if that class won't get deleted like it was proposed in #82 so we should wait for that issue.

[2020-05-07 07:31] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #320
Full load hours is the quotient of net generation and rated power times the number of hours per year.  Gross generation is not needed to calculate it.  Also, it's an empirical value (as in: what happened last year) as opposed to a characteristic (quality) of a power plant.

-----

Do they *specifically* need gross generation *in addition* to net generation? Even so, it's just another energy subcla

[2020-05-07 07:37] l-emele commented on #320
At least in our modelling we need both net and gross generation. Additionally there is not only net and gross generation of electricity but also net and gross electricity of heat.

[2020-05-07 08:06] Vera-IER commented on #320
When I think about think about it again, I don't like this "generation" term. Because espescially a "annual net/gross generation" is something to find in a statistic of past years. When I talk about "net/gross capacity" I think of the installed power, a power plant could provide at its maximum. These are two different things. Here is an [article ](https://www.eia.gov/tools/faqs/faq.php?id=101&t=3)

[2020-05-07 08:58] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #320
Yes.  This discussion pertains to characteristics of power plants, energy storage systems and transmission equipment, see OP.

"Capacity" (colloquial) is a power rating when talking about something that either transforms or transports energy, and an amount of energy when talking about something that stores energy.

"Generation" is an amount of energy, and not a characteristic of a plant or some pi

[2020-05-07 10:26] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q opened #390 "Add Primary, Secondary, and Final Energy to the ontology"
## Description of the issue

The distinction between primary, secondary, and final energy and energy carriers is widely used in energy statistics and modelling.  It needs to be reflected in the ontology.
Issue #372 proposes to define energy transformations as "a transformation process from the primary energy source X into a secondary energy form."

## Ideas of solution

Primary/secondary/final ene

[2020-05-07 10:45] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #372
There are also SE→ SE transformations (all to Power-to-X stuff).  So don't limit this to PE → SE.

[2020-05-07 10:49] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #372
- photovoltaik plant
[…]

Shouldn't processes be subclasses of `energy transformation process` (e.g., something like "solar radiation to electricity transformation process") which are in turn realised in all kinds of power plants (e.g., photovoltaic plant)?

[2020-05-07 11:35] stap-m commented on #231
True, I corrected it in the PR.
After restructuring this, we can discuss whether some of the power generating units/ energy converting devices should also be seen as grid components. This might need further adjustment of the grid components class...

[2020-05-08 08:09] akleinau commented on #205
I just heard these concepts for the first time, @fabianneuhaus can you help optimize these definitions of "process attribute" and "process attribute of"?

[2020-05-08 12:50] jannahastings commented on #36
I don't think we should move link and node to the dependent entities branch (i.e. as roles or functions), as they do not seem to me to be attributes (that inhere in other entities) but entities in their own right. And looking at the current definition of powerline: "A powerline is a grid component that is an uninterrupted transmission system between two nodes in an electricity grid." -- that also

[2020-05-11 04:48] stap-m commented on #36
Ok, I implemented @jannahastings suggestions.
This is how the structure looks right now:
![grafik](https://user-images.githubusercontent.com/38690039/81524683-63d92d00-9352-11ea-8287-aa879fb22225.png)

Since powerline is definitly an electricity grid component I'd suggest
* to make all subclasses of *electricity grid component* direct subclasses of *grid component*
* to make *electricity grid comp

[2020-05-11 14:53] #314 closed

[2020-05-11 14:55] akleinau commented on #36
yes sounds good

[2020-05-13 13:20] akleinau commented on #205
@jannahastings is there an ontology or website where we can get good definitions?
Or do we just implement your candidate bad ones for now?

[2020-05-13 13:38] akleinau commented on #73
@mglauer, @gnn I'll fix this, please build your own conflict-rich branch if you still need sth of this kind.

[2020-05-13 13:40] akleinau commented on #73
@stap-m, @l-emele is there a difference between model function and model calculation?

[2020-05-13 14:02] jannahastings commented on #205
I don't think there are any good definitions, that's why this is not in BFO :-/.

An alternative would be that we just classify "power" beneath "process profile" directly, which would mean the definition would read as:

Power: "Power is the process profile that is the amount of energy transformed or transferred per time unit."

I asked @fabianneuhaus again if he has any opinions on this question,

[2020-05-13 17:09] fabianneuhaus commented on #205
To me it seems that the best way to deal with the issue would be to break with BFO's definition of dependent particular: I would suggest that dependent continuant may depend on either independent  continuants or occurrents. Hence, qualities may inhere in occurrents.

The reason is as follows: let's assume we extend BFO by a p-quality (we can call it "process attribute", but that's just a label tha

[2020-05-13 17:39] jannahastings commented on #205
I object, for two reasons:

Pragmatically - we *do* use BFO and the corresponding relationships from RO, and introducing "process quality" as a subclass of quality that inheres in (depends on) processes will give inconsistency errors when used together with the axiomatization of BFO.

Technically - I do not think it is true that having "process attribute" distinct from quality means that we are fo

[2020-05-13 17:47] fabianneuhaus commented on #205
No, but if you would try to define measurement unit in the BFO context, you would run into trouble with multiple inheritance if measurement units are measuring qualities and p-qualities.

Assuming the requirements are that we extend BFO and don't upset the apple cart by having p-qualities in the continuant branch, here is an alternative solution.  We elucidate process attribute as follows:
A proce

[2020-05-14 10:31] Ludee commented on #313
First draft released:
https://github.com/OpenEnergyPlatform/oeplatform/issues/604

This issue stays open until SC-members are finally released as well.

[2020-05-14 10:54] stap-m opened #393 "heat and subclasses need definition update and maybe reclassification"
## Description of the issue

* The definitions of the heat and subclasses are not aristotelian / have no def at all.
* The subclasses are rather use cases for heat that "types" of heat. A reclassification should be discussed.

## Ideas of solution

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [x] I already read the **latest** version o

[2020-05-14 13:49] stap-m opened #394 "Include gross generation / gross energy output"
## Description of the issue
Include gross generaton/ gross electric output, as requested in the 6th oeo developer meeting.
See discussion #320

## Ideas of solution
"Gross generation or gross electric output is the total amount of electricity generated by a power plant over a specific period of time." #320

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working

[2020-05-14 14:02] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #394
I would generalise and not limit to electricity.  "Gross production" of all kinds of energy carriers is relevant for IAMs at least, probably most energy models beyond electricity market models.

[2020-05-14 15:04] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #393
What is meant by "heat"?

That describes a flow of energy, thus a power.  The `energy` class however describes energy that is a quality of matter.
I suspect that "thermal energy" was meant when this was set up.

The sub-classes are a mixed bunch:

- Ambient heat:

  Let's take note that the first sentences of random papers usually don't make for useful definitions.
  I gather that the intention wa

[2020-05-15 07:08] l-emele commented on #393
"Derived heat" is a form of energy but "gross heat production" is a process.

[2020-05-15 07:12] kurzum opened #395 "wrong ontology uri in module"
https://github.com/OpenEnergyPlatform/ontology/blob/dev/src/ontology/imports/iao-module.owl#L2
contains http://open-energy-ontology.org/ontology/imports/iao-annotation-module.owl#

http://open-energy-ontology.org does not exist and returns a 404

[2020-05-15 07:12] l-emele commented on #394
I second that. "Gross production" is the energy production including own consumption of the plant while "net production" is excluding the own consumption. So "net production" is the amount of energy that can be e.g. fed into the grid or delivered to the consumer.

[2020-05-15 07:19] l-emele commented on #73
I think a model function is a description of the world with one or more mathematical equations. A model calculation is the process of solving model functions.
@stap-m Do you agree?

[2020-05-15 07:52] akleinau commented on #395
the problem here is explained in #238 and will be fixed before the first release. I‘ll close this as it‘s part of #238 :)

[2020-05-15 07:52] #395 closed

[2020-05-15 10:10] kurzum commented on #238
The current setup is very confusing. It would be much better if the domains and redirects were set up as soon as possible. You develop it now in github, but there is a huge gap to the target deployment.
Best to fix this as soon as possible and establish the above mentioned redirects.

[2020-05-15 11:29] stap-m commented on #73
I agree that model calculation is the process of running a model.

According to @MGlauer a model function is not a model component (defined as *part od a model*). Why is that wrong? And can you propose a good definition, respectivly?

[2020-05-15 13:12] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #393
I'm puzzled.

and

contradict each other.  Either "gross heat production" is an amount of energy (like gross and net production), or it is a process.  Can you describe an example?

-----

And how is it used?  By the logic of the ontology (as far as I grasp it), a `heating plant` would be an `energy conversion device` that transforms some form of energy into `derived heat`?  It would them be used b

[2020-05-15 15:50] stap-m commented on #393
I edited the issue title. It's useles to dicuss the heat subclasses without having a good definition and classification for *heat* itself, sorry.

I agree that with the new def of *energy*, *heat* as it is defined currently is in the wrong place. The def is obviously copy and paste from wikipedia and has not been restructured and brought into Aristotelian format yet.

A subclass *thermal energy* a

[2020-05-18 05:20] stap-m opened #396 "Biofuel bugs should be fixed"
## Description of the issue

Fix bugs within biofuel:
* The equivalent class *solid biofuel* is a subclass of portion of matter, but should be a subclass of the equivalent class *biofuel*.
* Also, there is *liquid biofuel* as a subclass of *fuel* AND *biofuel*. I guess this is neither intended - it should be just a subclass of biofuel.

## Ideas of solution

## Workflow checklist

- [x] I am aware

[2020-05-18 07:37] l-emele commented on #393
Sorry, I formulated slopy and forgot a part.

Energy production is in my view a form of energy transformation and hence a process. And I should have written:

[2020-05-18 07:46] l-emele commented on #393
I like your suggestion. Maybe we could avoid _heat_ completely as it is ambiguous.

[2020-05-18 08:23] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #393
I don't really care where it is in the ontology or how the definition is formulated.  The definition is correct *for heat*, but the subclasses describe *thermal energy*.  If this is about having classes of thermal energy, there is no point in having a heat class.

I can see that models would want to refer to quantities of thermal energy which are either stored (thermal storage), transported (distr

[2020-05-18 08:32] l-emele commented on #393
Because we want to organise the terms systematically.

[2020-05-18 10:08] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #393
Ok.  And which terms can't be organised systematically in the ontology without a class for an energy production process?  In other words:

[2020-05-19 06:26] l-emele opened #397 "Update wording of renewable definition"
## Description of the issue

Current definition of  `renewable` is:
_renewable is an origin of portions of matter who replenish to replace the portion depleted in a finite amount of time in a human time scale._

## Ideas of solution

It should be:
_renewable is an origin of portions of matter that replenish on a human time scale_

## Workflow checklist

- [ ] I discussed the issue with someone els

[2020-05-19 06:55] l-emele commented on #397
Sorry for many small commits. I am doing this during a telco.

[2020-05-19 10:37] #397 closed

[2020-05-19 11:26] MGlauer commented on #238
I am working on the ontology extension for the Open Energy Platform.
 Especially the part that will serve the oeo files. What is the plan
 here? Which formats will be published (.owl, .omn etc.)? I guess translating the exiting .omn files via robot should be easy enough!?

[2020-05-19 11:31] jannahastings commented on #238
Translating with robot is very easy. I think we should publish at least the standard RDF/OWL and the OMN... I don't have any preferences for any other formats though.

[2020-05-19 11:37] MGlauer commented on #238
Regarding the url: `http://open-energy-ontology.org/ontology/imports/iao-annotation-module.owl`. This seems fine, as long as we do not publish any other ontologies on this domain. If we do the imports may clash. So maybe we should put it under the `/oeo` resource:
`http://open-energy-ontology.org/ontology/oeo/imports/iao-annotation-module.owl`

[2020-05-19 14:02] akleinau commented on #396
I agree and will make a pull request soon

[2020-05-20 06:57] l-emele commented on #381
I thought a bit about this and my conclusion is: We should include _electricity_ with a definition close to the one cited in my last comment. But we should not use it very much in the ontology but try always to use the more specific term like _electric energy_ or _electric current_. So that we show in our ontology that this term exists but in most cases it is not specific enough.

[2020-05-20 06:59] l-emele commented on #393
I just realised that we have discussions in parallel. So I suggest that we discuss in this issue only the heat subclasses and concentrate the discussions on net and gross generation in issue #394.

[2020-05-20 07:02] l-emele commented on #390
I don't think that primary, secondary and final energy consumption are subclasses of the energy carrier disposition but I think that these are energy quantities.

[2020-05-20 07:47] l-emele commented on #362
Is it an energy transfer?

[2020-05-20 07:51] l-emele commented on #394
Maybe it is good, to solve #77 first that we have get a proper definition of _energy production_ as this is the basis for this issue.

[2020-05-20 07:53] l-emele commented on #77
I still think that we need _energy production_ as subclass of _energy transformation_. With the definition above: _a transformation which transforms an energy carrier from its natural state to the first technically usable state._

The energy production related to a lot of quantities like _primary energy production_ or gross _production of electrical energy_.

[2020-05-20 08:09] jannahastings commented on #238
I agree, we should follow the same URI pattern as the other imported subset modules.  @MGlauer could you perhaps raise a separate issue for that?

[2020-05-20 09:30] #388 closed

[2020-05-20 13:53] akleinau commented on #205
so we have the choice between breaking BFO's definitions whilst not confusing physicists or having an inferior solution with problems but without obvious breakage that is in line with metrologists

[2020-05-20 13:56] akleinau commented on #205
But we are sure we need a class "power" and "power unit" is not enough?

[2020-05-20 14:13] akleinau commented on #390
If we directly include them and not the consumption of them as @l-emele asked, I like the idea of having them as  disposition or quality because if I understand it correctly these are not really subclasses of energy but "states" of the process of energy consumption/ production?

[2020-05-20 14:21] l-emele commented on #205
I do not fully understand the discussion, but I want to share an aspect which I think is important

There are quantities which have more than one units, like energy.
Example: An electric energy quantity of 1000 kWh (kilowatthour) is typically used by a single person household. That identical energy quantity can be expressed as 3600 MJ (megajoule)..

So you can apply different energy units without

[2020-05-20 14:34] akleinau commented on #362
I'm not sure if radiation is the process of sending out waves which could fit with energy transfer or the waves itself. Waves again aren't really objects (no clear border) or object aggregates (no distinction into objects). "a wave is a disturbance (change from equilibrium) of one or more fields" says wikipedia which is even more confusing because what is a disturbance in our BFO-world?

[2020-05-20 14:36] akleinau commented on #362
The problem with "energy transfer" is that radiation then has to have some type of energy as output but the output is primarily called a wave. A wave can be a high-energy wave but it's not energy itself?

[2020-05-20 14:59] 0UmfHxcvx5J7JoaOhFSs5mncnisTJJ6q commented on #390
Both.  There's little value in discussing energy without discussing where it comes from and where it goes to.

-----

I have no idea what the state of a process is supposed to be.
Energy carriers are grouped into primary/secondary/final energy carriers, depending on their origin and their use.  The production and consumption of these energy carriers is collectively referred to as production/consum

[2020-05-21 09:03] jannahastings commented on #205
I recommend we use:

Power: "Power is the process attribute that is the amount of energy transformed or transferred per time unit."

Process attribute: A process attribute is a dependent occurrent that existentially depends on a process.

The parent of process attribute would then be occurrent.

I believe this is in line with the sentiment of @fabianneuhaus's proposal, but avoids using the mathema

[2020-05-22 07:55] akleinau opened #401 "the individual "other" should be deleted"
## Description of the issue

"Other" is an individual of type "analytical approach". As individuals like this shouldn't exist it should be deleted.

## Ideas of solution

delete

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [ ] I already read the **latest** version of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/d

[2020-05-22 08:11] #401 closed

[2020-05-22 08:13] akleinau opened #403 "DOI should get it's full name as an alternative term"
## Description of the issue

DOI should get "digital object identifier" as alternative term

## Ideas of solution

add alternative term

## Workflow checklist

- [ ] I discussed the issue with someone else than me before working on a solution
- [ ] I already read the **latest** version of the [workflow](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) for this repository
-